@charset "utf-8";

/**************************************************************
  Detail Page
**************************************************************/
.thema-black .ddp-box-grid-detail {border:none; background-color:#474c5a;}

.thema-black .ddp-box-grid-detail .ddp-data-listview {border-top:none; border-bottom:none;}
.thema-black .ddp-box-grid-detail span.ddp-data-name {color:#fff;}
.ddp-type-contents.type-black .ddp-box-grid-detail .ddp-wrap-datadetail .ddp-dl-detail td {color:#fff;}

.thema-black .ddp-box-grid-detail .ddp-wrap-datadetail .ddp-dl-detail th {color:#a0aabe;}
.thema-black .ddp-box-grid-detail .ddp-wrap-datadetail .ddp-dl-detail td {color:#fff;}

.thema-black .ddp-box-grid-detail .ddp-data-detailinfo .ddp-ui-detail .ddp-icon-detail {background:url(../../../images/anm/btn_show_detail.png) no-repeat;}
.thema-black .ddp-box-grid-detail .ddp-data-detailinfo .ddp-ui-detail .ddp-icon-detail:hover {background-position:-18px;}

.thema-black .ddp-box-grid-detail .ddp-btn-close-s {background:url(../../../images/anm/btn_popclose.png) no-repeat; background-position:left -25px;}
.thema-black .ddp-box-grid-detail .ddp-btn-close-s:hover {background-position-x:-17px;}



