@charset "utf-8";

/***************************************************************************************
   Page : Alarm List
***************************************************************************************/
.page-alarm-list .wrap-alarm-list {position:relative; clear:both;}
.page-alarm-list .wrap-alarm-list:before {position:absolute; left:5px; top:70px; bottom:0; border-left:1px solid #434957; content:'';}
.page-alarm-list .wrap-alarm-list .list-label {padding-left:28px;}
.page-alarm-list .wrap-alarm-list .list-label .data-day{font-size:18px; color:#fff; vertical-align:middle;}
.page-alarm-list .wrap-alarm-list .list-label .data-num {display:inline-block; padding: 0 10px;margin-left:8px;color:#fff; font-size:16px; line-height:30px; text-align:center; border-radius:50%; background-color:#252833; vertical-align:middle;}
.page-alarm-list .wrap-alarm-list .list-label .icon-view {display:inline-block; position:relative; width:20px; height:20px; margin-left:4px; vertical-align:middle;}
.page-alarm-list .wrap-alarm-list .list-label .icon-view:before {display:inline-block; position:absolute; top:50%; left:50%; margin:-3px 0 0 -5px; width:10px; height:5px; background:url(../../../images/anm/icon_gather_view.png) no-repeat; background-position:left -5px; content:''; transform:rotate(180deg);}

.page-alarm-list .wrap-alarm-list .wrap-alarm-days.is-selected .list-label .icon-view {transform:rotate(180deg);}

.page-alarm-list .wrap-alarm-list .list-top {padding-bottom:18px;}

.page-alarm-list .wrap-alarm-list .list-top .list-setting .toggle-sort {position:relative; top:5px; float:left;}
.page-alarm-list .wrap-alarm-list .ui-more {padding-left:28px;}
.page-alarm-list .wrap-alarm-list .wrap-alarm-days + .wrap-alarm-days {padding-top:14px;}

.page-alarm-list .wrap-alarm-days.is-selected .box-alarm-list {display:block;}
.page-alarm-list .box-alarm-list {display:none; padding-bottom:22px;}
.page-alarm-list .box-alarm-list li {position:relative; padding-left:24px; cursor:pointer;}
.page-alarm-list .box-alarm-list li + li {margin-top:20px;}
.page-alarm-list .box-alarm-list li:before {display:inline-block; position:absolute; top:18px; left:0; width:10px; height:10px; border-radius:50%; background-color:#434957; content:'';}
.page-alarm-list .box-alarm-list li.is-selected:before {background-color:#61687c;}
.page-alarm-list .box-alarm-list li.list-more {display:inline-block;}
.page-alarm-list .box-alarm-list li .box-more {display:inline-block; position:relative; padding:12px 15px; border-radius:5px; background-color:#2a2d37;}
.page-alarm-list .box-alarm-list li .box-more:before {display:inline-block; position:absolute; top:50%; left:-8px; margin-top:-6px; width:8px; height:12px; background:url(../../../images/anm/icon_alarm_list.png) no-repeat; background-position:left -26px; content:'';}
.page-alarm-list .box-alarm-list li .box-more:hover a {text-decoration:underline;}

.page-alarm-list .box-alarm-list li.is-selected .ui-alarm-list {background-color:#61687c;}
.page-alarm-list .box-alarm-list li .ui-alarm-list {table-layout:fixed;display:table; position:relative; width:100%; height:44px; padding:13px 0 13px 24px; border-radius:5px; background-color:#434957; box-sizing:border-box;}
.page-alarm-list .box-alarm-list li .ui-alarm-list .btn-form-delete {display:none; position:absolute; top:50%; right:9px; margin-top:-16px;}
.page-alarm-list .box-alarm-list li:hover .ui-alarm-list .btn-form-delete {display:block;}
.page-alarm-list .box-alarm-list li .ui-alarm-list:before {position:absolute; top:50%; left:-8px; margin-top:-6px;width:8px; height:12px; background:url(../../../images/anm/icon_alarm_list.png) no-repeat; background-position:left -13px; content:'';}
.page-alarm-list .box-alarm-list li.is-selected .ui-alarm-list:before {background-position:left top;}
.page-alarm-list .box-alarm-list li .wrap-status {display:table-cell; width:107px; padding-right:20px;vertical-align: top;}
.page-alarm-list .box-alarm-list li .ui-alarm-list .box-select-status {min-width:93px; padding-right:2px; padding-left:2px; box-sizing:border-box;}

.page-alarm-list .box-alarm-list li .data-clock {display:table-cell; width:110px; color:#a5aaba; font-size:12px;font-weight:bold; vertical-align:middle;}
.page-alarm-list .box-alarm-list li:hover .data-clock,
.page-alarm-list .box-alarm-list li.is-selected .data-clock {color:#fff;}
.page-alarm-list .box-alarm-list li .data-clock em.icon-clock{display:inline-block; width:10px; height:11px; margin-right:3px; background:url(../../../images/anm/icon_clock_s.png) no-repeat; background-position-x:-22px; vertical-align:middle;}
.page-alarm-list .box-alarm-list li .data-clock.type-b {color:#ff687a;}
.page-alarm-list .box-alarm-list li .data-clock.type-b em.icon-clock {background-position:left top;}

.page-alarm-list .box-alarm-list li .data-alarm {display:table-cell; width:59px; margin-right:14px; font-size:12px; color:#a5aaba; font-weight:bold; vertical-align:middle;}
.page-alarm-list .box-alarm-list li:hover .data-alarm,
.page-alarm-list .box-alarm-list li.is-selected .data-alarm {color:#fff;}
.page-alarm-list .box-alarm-list li .data-alarm em.icon-alarm{display:inline-block; width:8px; height:10px; margin-right:3px; background:url(../../../images/anm/icon_alarm.png) no-repeat; background-position:left -12px; vertical-align:middle; }

.page-alarm-list .box-alarm-list li .wrap-name {display:table-cell; width:100%; padding-right:20px; vertical-align:middle; box-sizing:border-box;}
.page-alarm-list .box-alarm-list li .data-name {display:inline-block; max-width:100%; font-size:14px; font-weight:bold; color:#a5aaba; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.page-alarm-list .box-alarm-list li:hover .data-name,
.page-alarm-list .box-alarm-list li.is-selected .data-name {line-height:20px; color:#fff;}
.page-alarm-list .box-alarm-list li .data-name .txt-name {display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.page-alarm-list .box-alarm-list li .data-name em.icon-new {display:inline-block; float:right; position:relative; top:2px; width:12px; height:12px; margin-left:4px; background:url(../../../images/anm/icon_new.png) no-repeat; font-size:0px; vertical-align:middle; }
.page-alarm-list .box-alarm-list li .data-name em.icon-other {display:inline-block; float:right; position:relative; top:2px; margin-left:6px; width:16px; height:14px; background:url(../../../images/anm/icon_other.png) no-repeat; vertical-align:middle;}
.page-alarm-list .box-alarm-list li .data-dataset {display:table-cell;width:196px; color:#a5aaba; font-size:12px; white-space:nowrap; text-overflow:ellipsis; overflow:Hidden;vertical-align:middle;}
.page-alarm-list .box-alarm-list li .data-dataset:before {display:inline-block; width:12px; height:14px; margin-right:6px;  background:url(../../../images/anm/icon_card_datasource.png) no-repeat; vertical-align:middle; content:'';}
.page-alarm-list .box-alarm-list li .data-clock2 {display:table-cell; width:134px; font-size:12px; color:#a5aaba;vertical-align:middle;}

.page-alarm-list .box-alarm-list li .data-clock2:before,
.page-alarm-list .box-alarm-list li .data-threshold:before {display:inline-block; position:relative; top:-1px; width:10px; height:9px; margin-right:4px;background:url(../../../images/anm/icon_history.png) no-repeat; background-position:left -35px; vertical-align:middle; content:'';}
.page-alarm-list .box-alarm-list li .data-threshold:before {width:10px; height:12px; background-position:left top;}
.page-alarm-list .box-alarm-list li .data-date {display:table-cell; width:145px; color:#fff; font-size:12px;vertical-align:middle;}

.page-alarm-list .box-alarm-list li:hover .ui-alarm-list {background-color:#61687c; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);}
.page-alarm-list .box-alarm-list li:hover .ui-alarm-list:before {left:-11px;margin-top:-8px; width:11px; height:20px;background:url(../../../images/anm/icon_alarm_list_h.png) no-repeat; background-position:left top;}

.page-alarm-list .box-alarm-list li:hover:before {background-color:#fff;}



    /***************************************************************************************
      Alarm Card
    ***************************************************************************************/
.page-alarm-list .ddp-ui-contents-list .ddp-wrap-option {margin-bottom:33px;}
.page-alarm-list .ddp-ui-contents-list .ddp-wrap-option .anm-form-selectbox .txt-select {padding:10px 40px 11px 12px}
.page-alarm-list .ddp-ui-contents-list .ddp-ui-option .box-toggle {margin-right:10px;}
.page-alarm-list .ddp-ui-contents-list .ddp-ui-option .anm-form-selectbox {float:left; margin-right:30px;}
.page-alarm-list .ddp-ui-contents-list .ddp-ui-option > .ddp-label-checkbox {float:left; position:relative; top:12px;vertical-align:middle;}

.page-alarm-list .ddp-ui-contents-list .ddp-ui-option .ddp-ui-rightoption {margin-top:0;}
.page-alarm-list .ddp-ui-contents-list .ddp-ui-option .ddp-ui-rightoption .ddp-form-search {width:200px;}

.page-alarm-list .wrap-alarm-card {clear:both;padding-bottom:11px;}
.page-alarm-list .wrap-alarm-card.is-selected {padding-bottom:20px;}
.page-alarm-list .wrap-alarm-card .ui-show{display:none;}
.page-alarm-list .wrap-alarm-card.is-selected .ui-show{display:block;}

.page-alarm-list .wrap-alarm-card.type-quick {padding-bottom:20px; margin-bottom:31px; border-bottom:1px dotted #5f6473;}
.page-alarm-list .wrap-alarm-card .list-top {position:relative; z-index:5;}
.page-alarm-list .wrap-alarm-card .list-label {padding-bottom:12px; font-size:18px; color:#fff;}
.page-alarm-list .wrap-alarm-card .list-label .check-star {margin-right:10px; cursor:pointer;}
.page-alarm-list .wrap-alarm-card .list-label .check-star i {display:inline-block;width:14px; height:14px; background:url(../../../images/anm/icon_star.png) no-repeat; vertical-align:middle;}
.page-alarm-list .wrap-alarm-card .list-label .check-star input {display:none; }

.page-alarm-list .wrap-alarm-card .list-label .check-star input:checked + i {background-position-x:-15px;}

.page-alarm-list .wrap-alarm-card .list-label .txt-name {font-size:18px; color:#fff; font-weight:bold;}
.page-alarm-list .wrap-alarm-card .list-label .icon-new {display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#7f7ce1; vertical-align:top; }
.page-alarm-list .wrap-alarm-card .list-label .data-num {display:inline-block; padding: 0 10px;margin-left:8px;color:#fff; font-size:16px; line-height:30px; text-align:center; border-radius:50%; background-color:#252833; vertical-align:middle;}
.page-alarm-list .wrap-alarm-card .list-label .icon-view {display:inline-block; position:relative; width:20px; height:20px; margin-left:4px; vertical-align:middle;}
.page-alarm-list .wrap-alarm-card .list-label .icon-view:before {display:inline-block; position:absolute; top:50%; left:50%; margin:-3px 0 0 -5px; width:10px; height:5px; background:url(../../../images/anm/icon_gather_view.png) no-repeat; background-position:left -5px; content:''; transform:rotate(180deg);}
.page-alarm-list .wrap-alarm-card.is-selected .list-label .icon-view:before {transform:rotate(0);}
.page-alarm-list .wrap-alarm-card .list-top .list-setting {padding-top:4px;}
.page-alarm-list .wrap-alarm-card .list-top .list-setting .link-show {float:Left;}
.page-alarm-list .wrap-alarm-card .list-top .list-setting .toggle-sort {margin-left:20px;}
.page-alarm-list .flex-control-nav {display:none;}
.page-alarm-list .flex-viewport {padding:4px 0;}

.page-alarm-list .flexslider {position:relative;  margin-bottom:0; background:none ; border:none;}
.page-alarm-list .wrap-alarm-box {cursor:pointer;}
.page-alarm-list .box-alarm-card {position:relative; padding:12px 16px 20px 16px; height:140px; border-radius:5px; background-color:#434957; box-sizing:border-box;}

.page-alarm-list .wrap-alarm-box:hover .box-alarm-card {position:relative; top:-4px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #61687c;}
.page-alarm-list .box-alarm-card.is-selected {background-color:#61687c;}
.page-alarm-list .box-alarm-card .box-top {position:absolute; top:9px; right:14px;}
.page-alarm-list .box-alarm-card .data-time {float:left; font-size:10px; color:#a5aaba; }
.page-alarm-list .box-alarm-card .btn-form-delete {display:none;float:left; margin:-9px -9px 0 0;}
.page-alarm-list .wrap-alarm-box:hover .box-alarm-card .btn-form-delete {display:block;}
.page-alarm-list .box-alarm-card.is-selected .data-time {color:#fff;}
.page-alarm-list .box-alarm-card .box-select-status {padding-left:2px; padding-right:2px; min-width:93px; box-sizing:border-box;}
.page-alarm-list .box-alarm-card .wrap-alarm-time {padding:14px 0 0 0; overflow:hidden;}
.page-alarm-list .box-alarm-card .wrap-alarm-time .data-alarm {float:left; margin-right:14px; font-size:12px; color:#a5aaba; font-weight:bold;}
.page-alarm-list .box-alarm-card.is-selected .wrap-alarm-time .data-alarm {color:#fff;}
.page-alarm-list .box-alarm-card .wrap-alarm-time .data-alarm em.icon-alarm{display:inline-block; width:8px; height:10px; margin-right:3px; background:url(../../../images/anm/icon_alarm.png) no-repeat; background-position:left -12px; vertical-align:middle; }
.page-alarm-list .box-alarm-card .wrap-alarm-time .data-clock {float:left; color:#a5aaba; font-size:12px;font-weight:bold; }
.page-alarm-list .box-alarm-card .wrap-alarm-time .data-clock em.icon-clock{display:inline-block; width:10px; height:11px; margin-right:3px; background:url(../../../images/anm/icon_clock_s.png) no-repeat; background-position-x:-22px; vertical-align:middle;}
.page-alarm-list .box-alarm-card .wrap-alarm-time .data-clock.type-b {color:#ff687a;}
.page-alarm-list .box-alarm-card .wrap-alarm-time .data-clock.type-b em.icon-clock {background-position:left top;}
.page-alarm-list .box-alarm-card .wrap-name {padding:10px 0 0 0;}
.page-alarm-list .box-alarm-card .data-name {display:inline-block; max-width:100%; font-size:14px; font-weight:bold; color:#a5aaba; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.page-alarm-list .box-alarm-card.is-selected .data-name {line-height:20px; color:#fff;}
.page-alarm-list .box-alarm-card .data-name .txt-name {display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.page-alarm-list .box-alarm-card .data-name em.icon-new {display:inline-block; float:right; position:relative; top:2px; width:12px; height:12px; margin-left:4px; background:url(../../../images/anm/icon_new.png) no-repeat; font-size:0px; vertical-align:middle; }
.page-alarm-list .box-alarm-card .data-dataset {padding:10px 0 0 0; color:#a5aaba; font-size:12px; white-space:nowrap; text-overflow:ellipsis; overflow:Hidden;}
.page-alarm-list .box-alarm-card .data-dataset:before {display:inline-block; width:12px; height:14px; margin-right:6px;  background:url(../../../images/anm/icon_card_datasource.png) no-repeat; vertical-align:middle; content:'';}
.page-alarm-list .box-card-more {padding:61px 0; height:140px; border-radius:5px; color:#7f7ce1; font-size:13px; text-align:center; background-color:#262932; box-sizing:border-box; cursor:pointer;}
.page-alarm-list .box-card-more:hover {color:#fff; text-decoration:underline;}
.page-alarm-list .box-card-more.is-disabled {opacity:0.3; color:#7f7ce1; text-decoration:none; cursor:no-drop;}

.page-alarm-list .wrap-alarm-card .btn-show {padding-top:10px; text-align:right;}
.page-alarm-list .wrap-alarm-card .btn-show .link-show {display:block;}
.page-alarm-list .wrap-alarm-card .btn-show .link-show.type-less {display:none;}


.page-alarm-list .wrap-alarm-card.is-all .btn-show .link-show {display:none;}
.page-alarm-list .wrap-alarm-card.is-all .btn-show .link-show.type-less {display:block;}
.page-alarm-list .wrap-alarm-card.is-all .btn-show .link-show.type-less:before {transform:rotate(180deg);}


/*삭제*/
.page-alarm-list .wrap-alarm-card.is-all .flex-direction-nav {display:none !important;}
.page-alarm-list .wrap-alarm-card.is-all .flexslider .slides {width:100% !important; margin-bottom:-12px;}

.page-alarm-list .wrap-alarm-card.is-all .flexslider .slides li {margin-bottom:12px;}
.page-alarm-list .flex-nav-next a,
.page-alarm-list .flex-nav-prev a { position:absolute; top:0; right:0 !important; bottom:0; width:86px; height:auto; margin:0; background:none; background-image: linear-gradient(to right, rgba(47, 50, 61, 0), #2f323d); font-size:0px; z-index:1; opacity:1 !important;}
.page-alarm-list .flex-nav-prev a {right:initial; left:0 !important; transform:rotate(180deg)}
.page-alarm-list .flex-nav-next a:before,
.page-alarm-list .flex-nav-prev a:before {display:inline-block; position:absolute; top:50%; right:13px; margin-top:-10px; width:13px; height:20px; background:url(../../../images/anm/btn_swiper.png) no-repeat; content:''; opacity:0.2;}
.page-alarm-list .flex-nav-next a:hover:before,
.page-alarm-list .flex-nav-prev a:hover:before {opacity:1;}
.page-alarm-list .flex-nav-prev .flex-prev.flex-disabled,
.page-alarm-list .flex-nav-next .flex-next.flex-disabled{display:none;}

/* swiper */
.page-alarm-list .swiper-slide {width:260px;padding-right:12px;
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.page-alarm-list .swiper-container {padding:4px 0;}
.page-alarm-list .swiper-slide .wrap-alarm-box {width:100%; text-align:left;}

.page-alarm-list .swiper-button-next,
.page-alarm-list .swiper-button-prev { position:absolute; top:0; right:0 !important; bottom:0; width:86px; height:auto; margin:0; background:none; background-image: linear-gradient(to right, rgba(47, 50, 61, 0), #2f323d); font-size:0px; z-index:1; opacity:1 !important;}
.page-alarm-list .swiper-button-prev {right:initial; left:0 !important; transform:rotate(180deg)}
.page-alarm-list .swiper-button-next:before,
.page-alarm-list .swiper-button-prev:before {display:inline-block; position:absolute; top:50%; right:13px; margin-top:-10px; width:13px; height:20px; background:url(../../../images/anm/btn_swiper.png) no-repeat; content:''; opacity:0.2;}
.page-alarm-list .swiper-button-next:hover:before,
.page-alarm-list .swiper-button-prev:hover:before {opacity:1;}

.page-alarm-list .swiper-button-prev.swiper-button-disabled,
.page-alarm-list .swiper-button-next.swiper-button-disabled{display:none !important;}

.wrap-alarm-card.is-all .swiper-wrapper {display:inline-block; transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) !important;}
.wrap-alarm-card.is-all .swiper-slide{display:inline-block; float:left; width:260px; padding-bottom:12px;}
.wrap-alarm-card.is-all .swiper-button-next,
.wrap-alarm-card.is-all .swiper-button-prev {display:none;}

