@charset "utf-8";

/**************************************************************
  stream
**************************************************************/
.pipeline-graph {width:100%; height:100%;}
.pipeline-graph .graph-container{width:100%;height:100%;overflow:hidden}.pipeline-graph .graph-container svg:focus{outline:none}.pipeline-graph .graph-container .graph-toolbar{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.pipeline-graph .graph-container .graph-toolbar .pan-toolbar{position:relative;border:1px solid #ccc;-moz-border-radius:50%;-webkit-border-radius:390px;border-radius:390px;list-style-type:none;box-shadow:0 1px 4px rgba(0,0,0,0.3);width:60px;height:60px;bottom:150px;right:30px;background-color:#fff;background-clip:padding-box;float:right}.pipeline-graph .graph-container .graph-toolbar .pan-toolbar span{cursor:pointer;font-size:0.9em;color:#777}.pipeline-graph .graph-container .graph-toolbar .pan-toolbar span:hover{color:#333}.pipeline-graph .graph-container .graph-toolbar .zoom-toolbar{position:relative;float:right;top:-80px;right:-12px;color:#777;background-color:#ffffff;background-clip:padding-box;box-shadow:0 1px 4px rgba(0,0,0,0.3)}.pipeline-graph .graph-container .graph-toolbar .zoom-toolbar div span:hover{color:#333}.pipeline-graph .graph-container .graph-toolbar .action-toolbar{float:right;position:relative;right:0;bottom:50px}.pipeline-graph .graph-container .graph-toolbar .action-toolbar .icon-button{cursor:pointer}.pipeline-graph .graph-container .warning-toolbar{position:relative;float:left;top:-60px;left:30px}.pipeline-graph .conceptG text{pointer-events:none}.pipeline-graph .node-warning{position:static;padding:10/5;font-size:22px;color:#d9534f}.pipeline-graph .node-config{color:#777}.pipeline-graph marker{fill:#CCC}.pipeline-graph g image.node-icon{filter:grayscale(100%);-webkit-filter:grayscale(100%)}.pipeline-graph g.rectangleG .lane-number{fill:#000000}.pipeline-graph g.rectangleG rect{fill:#CCC;stroke:#8A8787;stroke-width:1px;}.pipeline-graph g.rectangleG circle{fill:#ffffff;stroke:#8A8787;stroke-width:1px}.pipeline-graph g.rectangleG circle.dirty{fill:#d9534f;stroke:#d9534f}
.pipeline-graph g.startNode rect{fill:#5cb85c;stroke:#5cb85c}.pipeline-graph g.startNode circle{stroke:#5cb85c}.pipeline-graph g.startNode text{fill:#ffffff}.pipeline-graph g.startNode image{fill:#ffffff}.pipeline-graph g.startNode:hover rect{fill:#5cb85c;stroke:#5cb85c;opacity:1}.pipeline-graph g.endNode rect{fill:#FF6666;stroke:#FF6666}.pipeline-graph g.endNode circle{stroke:#FF6666}.pipeline-graph g.endNode text{fill:#ffffff}.pipeline-graph g.endNode image{fill:#ffffff}.pipeline-graph g.endNode:hover rect{fill:#FF6666;stroke:#FF6666;opacity:1}.pipeline-graph g.connect-node rect{fill:#428bca;stroke:#428bca;opacity:0.75}

.pipeline-graph g.pathG .link{fill:none;stroke:#7a7f81;stroke-width:5px;cursor:default}
.pipeline-graph g.pathG .link:hover{stroke:#428bca}.pipeline-graph g.pathG .link.hidden{stroke-width:0}
.pipeline-graph g.pathG .edge-preview{color:#dddada;position:static}
.pipeline-graph g.pathG .edge-preview.alerts-defined{color:#aaa7a7}.pipeline-graph g.pathG .edge-preview.active-alerts-defined{color:#7f7c7c}.pipeline-graph g.pathG .edge-preview.alert-triggered{color:#d9534f}.pipeline-graph g.pathG.selected .link{stroke:#428bca;opacity:0.8}.pipeline-graph g.pathG.selected .edge-preview{color:#428bca;opacity:0.8}.pipeline-graph .dragline{fill:none;stroke:#CCC;stroke-width:6px;cursor:default}.pipeline-graph .dragline.hidden{stroke-width:0}.pipeline-graph .axis line{fill:none;stroke:#EFEFEF;shape-rendering:crispEdges;vector-effect:non-scaling-stroke}.stage-errors-tooltip{display:inline-block;text-align:left;width:100%}.config-properties{text-align:left;list-style:none;margin:0;padding:0}
.pipeline-graph .graph-container .graph-toolbar .pan-toolbar .pan-up {position:absolute; top:1px; left:50%; margin-left:-6px}
.pipeline-graph .graph-container .graph-toolbar .pan-toolbar .pan-left {position:absolute; top:50%; left:1px; margin-top:-6px;}

.pipeline-graph .graph-container .graph-toolbar .pan-toolbar .pan-right {position:absolute; top:50%; right:1px; margin-top:-6px;}
.pipeline-graph .graph-container .graph-toolbar .pan-toolbar .pan-down {position:absolute; bottom:1px; left:50%;  margin-left:-6px}
.pipeline-graph .graph-container .graph-toolbar .pan-toolbar .pan-home {position:absolute; top:50%; left:50%; margin:-6px 0 0 -7px;}
.pipeline-graph .graph-container .graph-toolbar .zoom-toolbar div{position:relative;width:26px; height:18px;}
.pipeline-graph .graph-container .graph-toolbar .zoom-toolbar div span:hover{color:#333}.pipeline-graph .graph-container .graph-toolbar .action-toolbar{float:right;position:relative;right:0;bottom:50px}.pipeline-graph .graph-container .graph-toolbar .action-toolbar .icon-button{cursor:pointer}.pipeline-graph .graph-container .warning-toolbar{position:relative;float:left;top:-60px;left:30px}
.zoom-toolbar .pointer {cursor:pointer}
.zoom-toolbar .fa-plus:before,
.zoom-toolbar .fa-minus:before,
.glyphicon-chevron-up:before,
.glyphicon-chevron-down:before,
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before,
.glyphicon-home:before {display:inline-block; background:url(../../images/icon_pipeline.png) no-repeat; content:'';}
.zoom-toolbar .fa-plus:before {position:absolute; top:50%; left:50%; margin:-5px 0 0 -5px; width:10px; height:10px;}
.zoom-toolbar .fa-plus:hover:before {background-position-x:-11px;}
.zoom-toolbar .fa-minus:before {position:absolute; top:50%; left:50%; margin:-1px 0 0 -5px; width:10px; height:2px; background-position:left -11px;}
.zoom-toolbar .fa-minus:hover:before {width:10px; height:2px; background-position-x:-11px;}
.glyphicon-chevron-down:before {width:10px; height:7px; background-position:left -14px;}
.glyphicon-chevron-down:hover:before {background-position-x:-11px;}
.glyphicon-chevron-left:before {width:7px; height:10px; background-position:left -22px;}
.glyphicon-chevron-left:hover:before {background-position-x:-8px;}
.glyphicon-chevron-right:before {width:7px; height:10px; background-position:left -33px;}
.glyphicon-chevron-right:hover:before {background-position-x:-8px;}
.glyphicon-chevron-up:before {width:10px; height:7px; background-position:left -44px;}
.glyphicon-chevron-up:hover:before {background-position-x:-11px;}
.glyphicon-home:before {width:13px; height:12px; background-position:left -52px;}
.glyphicon-home:hover:before {background-position-x:-14px;}

.pipeline-graph g.rectangleG rect {rx:1px; ry:1px; cursor:pointer;}
.pipeline-graph g.rectangleG rect * {cursor:pointer;}
.pipeline-graph g.rectangleG text tspan {fill:#fff; font-size:12px; cursor:pointer;}
.pipeline-graph g.rectangleG text tspan.type-text {fill:#000; font-size:12px;}
.pipeline-graph g.rectangleG.type-start {position:relative;}
.pipeline-graph g.rectangleG.type-start object{display:inline-block; width:30px; height:30px; content:'';}

.pipeline-graph g.rectangleG.type-start rect {fill:#3e4b50; stroke:#26363f;}
.pipeline-graph g.rectangleG.type-start:hover rect {fill:#535e63; stroke:#3e4e57;}
.pipeline-graph g.rectangleG.type-start circle {stroke:#26363f;}
.pipeline-graph g.rectangleG.type-start:hover circle {stroke:#3e4e57;}
.pipeline-graph g.rectangleG.type-java rect {fill:#e74040; stroke:#c71e25;}
.pipeline-graph g.rectangleG.type-java:hover rect {fill:#c32f35; stroke:#9c2328;}
.pipeline-graph g.rectangleG.type-java circle {stroke:#c71e25;}
.pipeline-graph g.rectangleG.type-java:hover circle {stroke:#9c2328;}
.pipeline-graph g.rectangleG.type-hive rect {fill:#fad11d; stroke:#fad11d;}
.pipeline-graph g.rectangleG.type-hive:hover rect {fill:#e8ba00; stroke:#e8ba00;}
.pipeline-graph g.rectangleG.type-hive circle {stroke:#fad11d;}
.pipeline-graph g.rectangleG.type-hive:hover circle {stroke:#e8ba00;}
.pipeline-graph g.rectangleG.type-spark rect {fill:#eb7c32; stroke:#eb7c32;}
.pipeline-graph g.rectangleG.type-spark:hover rect {fill:#c84b00; stroke:#a13c00;}
.pipeline-graph g.rectangleG.type-spark circle {stroke:#eb7c32;}
.pipeline-graph g.rectangleG.type-spark:hover circle {stroke:#a13c00;}
.pipeline-graph g.rectangleG.type-sqoop rect {fill:#46b754; stroke:#46b754;}
.pipeline-graph g.rectangleG.type-sqoop:hover rect {fill:#257e31; stroke:#196724;}
.pipeline-graph g.rectangleG.type-sqoop circle {stroke:#46b754;}
.pipeline-graph g.rectangleG.type-sqoop:hover circle {stroke:#196724;}
.pipeline-graph g.rectangleG.type-exec rect {fill:#3a74a5; stroke:#1c588a;}
.pipeline-graph g.rectangleG.type-exec:hover rect {fill:#143a5a; stroke:#091f32;}
.pipeline-graph g.rectangleG.type-exec circle {stroke:#1c588a;}
.pipeline-graph g.rectangleG.type-exec:hover circle {stroke:#091f32;}
.pipeline-graph g.rectangleG.type-druid rect,
.pipeline-graph g.rectangleG.type-kafka rect {fill:#4a4950; stroke:#3d3a47;}

.pipeline-graph g.rectangleG.type-kafkasource rect {fill:#333; stroke:#333;}
.pipeline-graph g.rectangleG.type-kafkasink rect {fill:#333; stroke:#333;}
.pipeline-graph g.rectangleG.type-kafkasource:hover rect{fill:#050505; stroke:#050505;}
.pipeline-graph g.rectangleG.type-kafkasink:hover rect{fill:#050505; stroke:#050505;}

.pipeline-graph g.rectangleG.type-filter-flow rect {fill:#a4adb4; stroke:#8b949d;}
.pipeline-graph g.rectangleG.type-filter-flow:hover rect{fill:#8b949d; stroke:#8b949d;}
.pipeline-graph g.rectangleG.type-select-flow rect {fill:#a4adb4; stroke:#8b949d;}
.pipeline-graph g.rectangleG.type-select-flow:hover rect{fill:#8b949d; stroke:#8b949d;}
.pipeline-graph g.rectangleG.type-timewindow-flow rect {fill:#a4adb4; stroke:#8b949d;}
.pipeline-graph g.rectangleG.type-timewindow-flow:hover rect{fill:#8b949d; stroke:#8b949d;}

.pipeline-graph g.rectangleG.type-druid:hover rect,
.pipeline-graph g.rectangleG.type-kafka:hover rect{fill:#2d2a3d; stroke:#1d1b26;}
.pipeline-graph g.rectangleG.type-druid circle,
.pipeline-graph g.rectangleG.type-kafka circle{ stroke:#3d3a47;}
.pipeline-graph g.rectangleG.type-kafkasource circle{ stroke:#3d3a47;}
.pipeline-graph g.rectangleG.type-kafkasink circle{ stroke:#3d3a47;}
.pipeline-graph g.rectangleG.type-druid:hover circle,
.pipeline-graph g.rectangleG.type-kafka:hover circle{stroke:#1d1b26;}
.pipeline-graph g.rectangleG.type-kafkasource:hover circle{stroke:#1d1b26;}
.pipeline-graph g.rectangleG.type-kafkasink:hover circle{stroke:#1d1b26;}
.pipeline-graph g.rectangleG.type-jdbc rect,
.pipeline-graph g.rectangleG.type-ssh rect,
.pipeline-graph g.rectangleG.type-distcp rect,
.pipeline-graph g.rectangleG.type-workflow rect,
.pipeline-graph g.rectangleG.type-scp rect,
.pipeline-graph g.rectangleG.type-mr rect,
.pipeline-graph g.rectangleG.type-fs rect{fill:#596d80; stroke:#46617c;}
.pipeline-graph g.rectangleG.type-jdbc:hover rect,
.pipeline-graph g.rectangleG.type-ssh:hover rect,
.pipeline-graph g.rectangleG.type-distcp:hover rect,
.pipeline-graph g.rectangleG.type-workflow:hover rect,
.pipeline-graph g.rectangleG.type-scp:hover rect,
.pipeline-graph g.rectangleG.type-mr:hover rect,
.pipeline-graph g.rectangleG.type-fs:hover rect {fill:#2e4254; stroke:#132e47;}
.pipeline-graph g.rectangleG.type-jdbc circle,
.pipeline-graph g.rectangleG.type-ssh circle,
.pipeline-graph g.rectangleG.type-distcp circle,
.pipeline-graph g.rectangleG.type-workflow circle,
.pipeline-graph g.rectangleG.type-scp circle,
.pipeline-graph g.rectangleG.type-mr circle,
.pipeline-graph g.rectangleG.type-fs circle {stroke:#46617c;}

.pipeline-graph g.rectangleG.type-jdbc:hover circle,
.pipeline-graph g.rectangleG.type-ssh:hover circle,
.pipeline-graph g.rectangleG.type-distcp:hover circle,
.pipeline-graph g.rectangleG.type-workflow:hover circle,
.pipeline-graph g.rectangleG.type-scp:hover circle,
.pipeline-graph g.rectangleG.type-mr:hover circle,
.pipeline-graph g.rectangleG.type-fs:hover circle {stroke:#132e47;}

.pipeline-graph g.rectangleG.type-decision rect,
.pipeline-graph g.rectangleG.type-done rect,
.pipeline-graph g.rectangleG.type-fork rect,
.pipeline-graph g.rectangleG.type-join rect,
.pipeline-graph g.rectangleG.type-filter rect,
.pipeline-graph g.rectangleG.type-select rect,
.pipeline-graph g.rectangleG.type-timewindow rect{fill:#fff; stroke:#b8c1c9;}
.pipeline-graph g.rectangleG.type-decision:hover rect,
.pipeline-graph g.rectangleG.type-done:hover rect,
.pipeline-graph g.rectangleG.type-fork:hover rect,
.pipeline-graph g.rectangleG.type-join:hover rect,
.pipeline-graph g.rectangleG.type-filter:hover rect,
.pipeline-graph g.rectangleG.type-select:hover rect,
.pipeline-graph g.rectangleG.type-timewindow:hover rect{fill:#a4adb4; stroke:#b7bdc3;}

.pipeline-graph g.rectangleG.type-decision text tspan ,
.pipeline-graph g.rectangleG.type-done text tspan ,
.pipeline-graph g.rectangleG.type-fork text tspan ,
.pipeline-graph g.rectangleG.type-join text tspan,
.pipeline-graph g.rectangleG.type-filter text tspan,
.pipeline-graph g.rectangleG.type-select text tspan,
.pipeline-graph g.rectangleG.type-timewindow text tspan {fill:#727b80;}

.pipeline-graph g.rectangleG.type-decision:hover text tspan ,
.pipeline-graph g.rectangleG.type-done:hover text tspan ,
.pipeline-graph g.rectangleG.type-fork:hover text tspan ,
.pipeline-graph g.rectangleG.type-join:hover text tspan,
.pipeline-graph g.rectangleG.type-filter:hover text tspan,
.pipeline-graph g.rectangleG.type-select:hover text tspan,
.pipeline-graph g.rectangleG.type-timewindow:hover text tspan{fill:#fff;}

.pipeline-graph g.rectangleG.type-decision circle,
.pipeline-graph g.rectangleG.type-done circle,
.pipeline-graph g.rectangleG.type-fork circle,
.pipeline-graph g.rectangleG.type-join circle {stroke:#b7bdc3;}
.pipeline-graph g.rectangleG.type-decision:hover circle,
.pipeline-graph g.rectangleG.type-done:hover circle,
.pipeline-graph g.rectangleG.type-fork:hover circle,
.pipeline-graph g.rectangleG.type-join:hover circle {stroke:#b7bdc3;}
.pipeline-graph g.rectangleG.type-end rect {fill:#3e4b50; stroke:#26363f;}
.pipeline-graph g.rectangleG.type-end:hover rect {fill:#535e63; stroke:#3e4e57;}
.pipeline-graph g.selected rect {position:relative; stroke:#fff !important;;stroke-width:3px !important;}
.pipeline-graph g.rectangleG {position:relative;}
.pipeline-graph g.rectangleG .icon-image {position:static; display:inline-block;width:30px; height:30px; cursor:pointer;}

.pipeline-graph g.rectangleG.type-start .icon-image {position:static; z-index:10; background:url(../../images/pipeline/icon_start.png) no-repeat;}

.pipeline-graph g.rectangleG.type-java .icon-image {display:inline-block;background:url(../../images/pipeline/icon_java.png) no-repeat;}
.pipeline-graph g.rectangleG.type-hive .icon-image {display:inline-block; background:url(../../images/pipeline/icon_hive.png) no-repeat;}
.pipeline-graph g.rectangleG.type-spark .icon-image {display:inline-block; background:url(../../images/pipeline/icon_spark.png) no-repeat;}
.pipeline-graph g.rectangleG.type-sqoop .icon-image {display:inline-block;background:url(../../images/pipeline/icon_sqoop.png) no-repeat;}
.pipeline-graph g.rectangleG.type-exec .icon-image {display:inline-block; background:url(../../images/pipeline/icon_exec.png) no-repeat;}
.pipeline-graph g.rectangleG.type-druid .icon-image {display:inline-block; background:url(../../images/pipeline/icon_druid.png) no-repeat;}
.pipeline-graph g.rectangleG.type-jdbc .icon-image {display:inline-block; background:url(../../images/pipeline/icon_jdbc.png) no-repeat;}
.pipeline-graph g.rectangleG.type-ssh .icon-image {display:inline-block; background:url(../../images/pipeline/icon_ssh.png) no-repeat;}
.pipeline-graph g.rectangleG.type-distcp .icon-image {display:inline-block; background:url(../../images/pipeline/icon_distcp.png) no-repeat;}
.pipeline-graph g.rectangleG.type-workflow .icon-image {display:inline-block; background:url(../../images/pipeline/icon_workflow.png) no-repeat;}
.pipeline-graph g.rectangleG.type-scp .icon-image {display:inline-block; background:url(../../images/pipeline/icon_scp.png) no-repeat;}
.pipeline-graph g.rectangleG.type-mr .icon-image {display:inline-block; background:url(../../images/pipeline/icon_mr.png) no-repeat;}
.pipeline-graph g.rectangleG.type-fs .icon-image {display:inline-block; background:url(../../images/pipeline/icon_fs.png) no-repeat;}
.pipeline-graph g.rectangleG.type-decision .icon-image {display:inline-block; background:url(../../images/pipeline/icon_decision.png) no-repeat; content:'';}
.pipeline-graph g.rectangleG.type-done .icon-image {display:inline-block; background:url(../../images/pipeline/icon_done.png) no-repeat;}
.pipeline-graph g.rectangleG.type-fork .icon-image {display:inline-block; background:url(../../images/pipeline/icon_fork.png) no-repeat;}
.pipeline-graph g.rectangleG.type-join .icon-image {display:inline-block; background:url(../../images/pipeline/icon_join.png) no-repeat;}
.pipeline-graph g.rectangleG.type-end .icon-image {display:inline-block; background:url(../../images/pipeline/icon_end.png) no-repeat;}
.pipeline-graph g.rectangleG.type-decision:hover .icon-image {background:url(../../images/pipeline/icon_decision_hover.png) no-repeat;}
.pipeline-graph g.rectangleG.type-done:hover .icon-image {background:url(../../images/pipeline/icon_done_hover.png) no-repeat;}
.pipeline-graph g.rectangleG.type-fork:hover .icon-image {background:url(../../images/pipeline/icon_fork_hover.png) no-repeat;}
.pipeline-graph g.rectangleG.type-join:hover .icon-image {background:url(../../images/pipeline/icon_join_hover.png) no-repeat;}
.pipeline-graph g.rectangleG.type-filter .icon-image {display:inline-block; background:url(../../images/pipeline/icon_filter.png) no-repeat;}
.pipeline-graph g.rectangleG.type-filter:hover .icon-image {background:url(../../images/pipeline/icon_filter_hover.png) no-repeat;}
.pipeline-graph g.rectangleG.type-timewindow .icon-image {display:inline-block; background:url(../../images/pipeline/icon_timewindow.png) no-repeat;}
.pipeline-graph g.rectangleG.type-timewindow:hover .icon-image {background:url(../../images/pipeline/icon_timewindow_hover.png) no-repeat;}
.pipeline-graph g.rectangleG.type-kafka .icon-image {display:inline-block; background:url(../../images/pipeline/icon_kafka.png) no-repeat;}

.pipeline-graph g.rectangleG.type-kafkasink .icon-image {display:inline-block; background:url(../../images/pipeline/icon_kafkasink.png) no-repeat;}
.pipeline-graph g.rectangleG.type-kafkasource .icon-image {display:inline-block; background:url(../../images/pipeline/icon_kafkasource.png) no-repeat;}
.pipeline-graph g.rectangleG.type-filter-flow .icon-image {display:inline-block; background:url(../../images/pipeline/icon_filter_flow.png) no-repeat;}
.pipeline-graph g.rectangleG.type-select-flow .icon-image {display:inline-block; background:url(../../images/pipeline/icon_select_flow.png) no-repeat;}
.pipeline-graph g.rectangleG.type-timewindow-flow .icon-image {display:inline-block; background:url(../../images/pipeline/icon_timewindow_flow.png) no-repeat;}

.tooltip{position:absolute;z-index:1070;display:block;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;filter:alpha(opacity=0);opacity:0;line-break:auto}
.tooltip.in{filter:alpha(opacity=90);opacity:.9}
.tooltip.top{padding:5px 0;margin-top:-3px}
.tooltip.right{padding:0 5px;margin-left:3px}
.tooltip.bottom{padding:5px 0;margin-top:3px}
.tooltip.left{padding:0 5px;margin-left:-3px}
.tooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:center;background-color:#000;border-radius:4px}
.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000}
.tooltip.top-left .tooltip-arrow{right:5px;bottom:0;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}
.tooltip.top-right .tooltip-arrow{bottom:0;left:5px;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000}
.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000}
.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000}
.tooltip.bottom-left .tooltip-arrow{top:0;right:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}
.tooltip.bottom-right .tooltip-arrow{top:0;left:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}

.pipeline-graph .node-warning {display:inline-block; width:25px; height:25px; background:url(../../images/pipeline/icon_warring.png) no-repeat;}
.pipeline-graph .node-warning {position:static;}

/**************************************************************
  Layout
**************************************************************/
.ddp-type-contents2.ddp-header-none {top:0;}
.type-menu-form .ddp-ui-contents-in.ddp-scroll .ddp-ui-contents-list {top:0;}

.type-menu-form .ddp-ui-contents-list .ddp-wrap-option + .ddp-box-edit {top:171px;}

/**************************************************************
  Navi
**************************************************************/
.ddp-top-flow .ddp-ui-more.ddp-selected .ddp-icon-more:before {background-position:left -12px}
.ddp-top-flow .ddp-ui-more .ddp-wrap-popup2 {display:none; position:absolute; top:100%; right:-10px; margin-top:10px; width:250px;}
.ddp-top-flow .ddp-ui-more.ddp-selected .ddp-wrap-popup2 {display:block;}

/**************************************************************
  Icons
**************************************************************/
em.ddp-icon-array-default2:before,
em.ddp-icon-array-asc2:before,
em.ddp-icon-array-des2:before {display:inline-block; position:absolute; top:50%; left:50%; margin:-5px 0 0 -4px; width:7px; height:9px; background:url(../../images/flow/icon_sort2.png) no-repeat;}
em.ddp-icon-array-des2:before {background-position:-8px top;}
em.ddp-icon-array-asc2:before {background-position:-16px top;}

/**************************************************************
  Selectbox
**************************************************************/
.ddp-type-selectbox ul.ddp-list-selectbox li.ddp-disabled {position:relative;}
.ddp-type-selectbox ul.ddp-list-selectbox li.ddp-disabled:before {display:inline-block; position:absolute; top:0; left:0; right:0; bottom:0; content:''; z-index:1; cursor:no-drop;}
.ddp-type-selectbox ul.ddp-list-selectbox li.ddp-disabled a {opacity:0.3;}
.ddp-box-page .ddp-type-selectbox.ddp-selected ul.ddp-list-selectbox{max-height:130px;}

/**************************************************************
  day form
**************************************************************/
.ddp-edit-day {float:left; width:47%;}
.ddp-edit-day input.ddp-input-typebasic {float:left; width:30%; padding:6px 8px 6px 8px; text-align:center;}
.ddp-edit-day .ddp-bar {display:inline-block; float:left; width:5%; position:relative; top:8px; text-align:center;}
.ddp-wrap-day .ddp-txt-bar {display:inline-block; float:left; position:relative; top:7px; width:6%; text-align:center;}

/**************************************************************
 edit Form
**************************************************************/
.ddp-wrap-edit3 .ddp-ui-edit-option.ddp-type .ddp-type-multy.type-form [class*="ddp-col-"] {padding-bottom:10px;}
.type-edit-form .ddp-wrap-edit3.ddp-type .ddp-label-type .type-sub {display:block; font-size:12px;}
.type-edit-form .ddp-type-label {padding-bottom:10px; color:#90969f; font-size:13px;}

/**************************************************************
  Ingestion Workflow Detail
**************************************************************/
.ddp-wrap-integrator {position:relative; height:100%; margin-top:-48px; padding-top:48px; box-sizing:border-box; background-color:#e7e7ea;}
.ddp-ui-integrator {position:relative; height:100%;}
.ddp-ui-integrator .ddp-layout-left {position:absolute; top:0; left:0; bottom:0; width:40px; background-color:#fff; overflow-y:auto; overflow-x:hidden; box-sizing:border-box; z-index:60;}

.ddp-contents-workflow {position:relative; height:100%; padding-left:43px; box-sizing:border-box;}
.ddp-contents-workflow .ddp-workflow-edit {position:relative;background-color:#fff;}
.ddp-contents-workflow .ddp-workflow-edit.ddp-full {position:absolute; top:0; left:43px; right:0; bottom:0; height:auto !important; z-index:70;}

.ddp-layout-left.ddp-selected +  .ddp-contents-workflow .ddp-workflow-edit.ddp-full {left:288px;}
.ddp-contents-workflow .ddp-workflow-detial {position:relative;background-color:#e7e7ea;}

.ddp-lnb-folder {position:relative; height:44px;}
.ddp-lnb-folder .ddp-btn-fold {display:inline-block; position:absolute; top:19px; left:50%; margin-left:-7px; width:14px; height:11px; background:url(../../images/icon_folding2.png) no-repeat; background-position:-30px -14px;}
.ddp-lnb-folder .ddp-btn-fold:hover {background-position-x:-45px;}
.ddp-ui-integrator .ddp-layout-left .ddp-type-selectbox {display:none;}
.ddp-ui-integrator .ddp-layout-left .ddp-search {position:relative; height:40px; margin-top:6px;}
.ddp-ui-integrator .ddp-layout-left .ddp-search .ddp-form-search {display:none;}
.ddp-ui-integrator .ddp-layout-left .ddp-search .ddp-icon-lnb-search {display:inline-block; position:absolute; top:50%; left:50%; width:15px; height:15px; margin:-8px 0 0 -8px; background:url(../../images/icon_lnb_integrator.png) no-repeat;}
.ddp-integrator-menu ul li {position:relative; height:40px;}
.ddp-integrator-menu ul li .ddp-ui-tooltip-info {position:fixed; left:43px;}
.ddp-integrator-menu ul li:hover .ddp-ui-tooltip-info {display:block;}
.ddp-layout-left.ddp-selected .ddp-integrator-menu ul li:hover .ddp-ui-tooltip-info {display:none;}

.ddp-integrator-menu ul li a {display:block; position:relative; height:100%;}
.ddp-integrator-menu ul li a em[class*="ddp-icon-lnb-"] {display:inline-block; width:32px; height:32px; position:absolute; top:50%; left:50%; margin:-16px 0 0 -16px; border-radius:4px;}
.ddp-integrator-menu ul li a:hover em[class*="ddp-icon-lnb-"] {background-color:#eeeeee;}
.ddp-integrator-menu ul li a em[class*="ddp-icon-lnb-"]:before {display:inline-block; position:absolute; top:50%; left:50%; background:url(../../images/icon_lnb_integrator.png) no-repeat; content:'';}

.ddp-integrator-menu ul li a em.ddp-icon-lnb-decision:before {width:14px; height:10px; margin:-5px 0 0 -7px; background-position:left -16px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-fork:before {width:14px; height:15px; margin:-8px 0 0 -7px; background-position:left -26px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-join:before {width:14px; height:15px; margin:-8px 0 0 -7px; background-position:left -42px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-done:before {width:16px; height:16px; margin:-8px 0 0 -8px; background-position:left -61px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-jdbc:before {width:15px; height:13px; margin:-8px 0 0 -8px; background-position:left -78px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-sqoop:before {width:15px; height:15px; margin:-8px 0 0 -8px; background-position:left -92px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-scp:before {width:14px; height:16px; margin:-8px 0 0 -7px; background-position:left -108px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-mr:before {width:17px; height:16px; margin:-8px 0 0 -7px; background-position:left -125px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-exec:before {width:16px; height:17px; margin:-9px 0 0 -8px; background-position:left -142px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-java:before {width:17px; height:20px; margin:-10px 0 0 -9px; background-position:left -160px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-hive:before {width:17px; height:17px; margin:-10px 0 0 -9px; background-position:left -181px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-ssh:before {width:16px; height:15px; margin:-8px 0 0 -8px; background-position:left -199px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-spark:before {width:16px; height:16px; margin:-8px 0 0 -8px; background-position:left -215px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-subworkflow:before {width:15px; height:15px; margin:-8px 0 0 -8px; background-position:left -232px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-distcp:before {width:17px; height:13px; margin:-7px 0 0 -9px; background-position:left -248px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-fs:before {width:15px; height:16px; margin:-8px 0 0 -8px; background-position:left -262px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-druid:before {width:19px; height:14px; margin:-8px 0 0 -8px; background-position:left -279px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-memo:before {width:16px; height:15px; margin:-8px 0 0 -8px; background-position:left -294px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-text:before{width:12px; height:13px; margin:-7px 0 0 -6px; background-position:left -310px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-filter:before {width:15px; height:13px; margin:-7px 0 0 -8px; background-position:left -324px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-select:before {width:17px; height:15px; margin:-8px 0 0 -9px; background-position:left -338px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-kafka:before {width:12px; height:20px;  margin:-10px 0 0 -6px; background-position:left -354px;}
.ddp-integrator-menu ul li a em.ddp-icon-lnb-timewindow:before {width:16px; height:14px; margin:-7px 0 0 -8px; background-position:left -375px;}

.ddp-integrator-menu ul li a .ddp-txt-menu {display:none;}

.ddp-ui-integrator .ddp-layout-left.ddp-selected {width:288px; border-right:3px }
.ddp-ui-integrator .ddp-layout-left.ddp-selected .ddp-lnb-folder .ddp-btn-fold {left:inherit; right:10px; margin:0; background-position:-30px top;}
.ddp-ui-integrator .ddp-layout-left.ddp-selected .ddp-lnb-folder .ddp-btn-fold:hover {background-position-x:-45px;}
.ddp-ui-integrator .ddp-layout-left.ddp-selected .ddp-lnb-folder .ddp-type-selectbox {display:block;  position:relative; top:10px; margin-left:20px; width:217px;}
.ddp-ui-integrator .ddp-layout-left.ddp-selected .ddp-integrator-menu ul li a:hover {background-color:#eeeeee;}
.ddp-ui-integrator .ddp-layout-left.ddp-selected .ddp-integrator-menu ul li a em[class*="ddp-icon-lnb-"] {position:relative;left:0; top:0; width:40px; float:left;  height:40px; margin:0; }
.ddp-ui-integrator .ddp-layout-left.ddp-selected .ddp-integrator-menu ul li a .ddp-txt-menu {display:block; padding:12px 0 13px 0; color:#444; font-size:12px; overflow:hidden;}
.ddp-ui-integrator .ddp-layout-left.ddp-selected .ddp-search {padding:0 18px;}
.ddp-ui-integrator .ddp-layout-left.ddp-selected .ddp-search .ddp-icon-lnb-search {display:none;}
.ddp-ui-integrator .ddp-layout-left.ddp-selected .ddp-search .ddp-form-search {display:block; width:100%;}

.ddp-workflow-edit .ddp-top-option {height:44px;}
.ddp-workflow-edit .ddp-top-option .ddp-flow-edit-option {float:left;}
.ddp-flow-edit-option .ddp-editor-icon {padding:13px 13px 12px 16px; }
.ddp-flow-edit-option .ddp-editor-icon .ddp-btn-redo {margin-left:7px;}
.ddp-flow-edit-option .ddp-part {position:relative; float:left;}
.ddp-flow-edit-option .ddp-part + .ddp-part:before {position:absolute; left:0; top:15px; border-left:1px solid #eeeff3; height:14px; content:'';}
.ddp-flow-edit-option .ddp-btn-undo,
.ddp-flow-edit-option .ddp-btn-redo {display:inline-block; width:17px; height:16px; background:url(../../images/btn_refresh.png) no-repeat; background-position:left -17px;}
.ddp-flow-edit-option .ddp-btn-redo {background-position-x:-18px;}
.ddp-flow-edit-option .ddp-btn-undo:hover {background-position-x:-36px;}
.ddp-flow-edit-option .ddp-btn-redo:hover  {background-position-x:-54px;}
.ddp-flow-edit-option .ddp-btn-play {display:inline-block; width:10px; height:12px; background:url(../../images/btn_play.png) no-repeat;}
.ddp-flow-edit-option .ddp-part.ddp-play {padding:16px 16px;}
.ddp-flow-edit-option .ddp-part.ddp-editor-btn {padding:7px 10px;}
.ddp-flow-edit-option .ddp-btn-solid,
.ddp-flow-edit-option .ddp-btn-line-s{float:left;}
.ddp-flow-edit-option .ddp-btn-solid + .ddp-btn-solid,
.ddp-flow-edit-option .ddp-btn-line-s + .ddp-btn-line-s{margin-left:4px;}
.ddp-flow-edit-option .ddp-wrap-info {position:relative; float:left; margin:9px 0 0 8px;}
.ddp-flow-edit-option .ddp-wrap-info .ddp-icon-info {display:inline-block; width:13px; height:13px; background:url(../../images/icon_info.png) no-repeat; background-position:left -30px; cursor:pointer;}
.ddp-flow-edit-option .ddp-wrap-info .ddp-icon-info:hover {background-position-x:-28px}
.ddp-flow-edit-option .ddp-wrap-info .ddp-box-layout4 {display:none; position:absolute; top:100%; left:-44px; margin-top:7px; width:235px;}
.ddp-flow-edit-option .ddp-wrap-info .ddp-icon-info:hover + .ddp-box-layout4 {display:block;}
.ddp-ui-contents-list .ddp-ui-option .ddp-option-part {margin:0 10px 0 0;}
.ddp-ui-contents-list .ddp-ui-option .ddp-option-part.type-view {width:220px;}
.ddp-graph-monitoring {position:fixed; top:170px; left:80px; right:80px; bottom:20px; }
.ddp-ui-contents-list .ddp-ui-option .ddp-link-reload.ddp-fleft{position:relative; top:0; margin-right:6px;}
.ddp-ui-contents-list .ddp-ui-option .ddp-btn-line.ddp-fleft {position:relative; top:0;}
.ddp-ui-contents-list .ddp-ui-option .ddp-wrap-select-status {display:inline-block; position:relative; top:4px;}
.ddp-ui-contents-list .ddp-ui-option .ddp-wrap-info .ddp-icon-info {display:inline-block; position:relative; margin-top:10px; margin-left:7px; width:13px; height:13px; background:url(../../images/icon_info.png) no-repeat; background-position:left -30px; cursor:pointer;}
.ddp-ui-contents-list .ddp-ui-option .ddp-wrap-info .ddp-box-layout4.ddp-status {position:absolute; top:100%; left:inherit; right:-30px; margin-top:5px; width:400px; z-index:130;}

.ddp-ui-contents-list .ddp-ui-option .ddp-wrap-info .ddp-box-layout4.ddp-status .ddp-txt-status {font-size:11px;}
.ddp-ui-contents-list .ddp-ui-option .ddp-form-search.ddp-monitoring {margin-left:20px; width:278px;}
.ddp-ui-contents-list .ddp-ui-option .ddp-wrap-info .ddp-icon-info:hover {background-position-x:-28px;}
.ddp-ui-contents-list .ddp-ui-option .ddp-wrap-info {position:relative;}
.ddp-ui-contents-list .ddp-ui-option .ddp-wrap-info .ddp-box-layout4 {display:none; position:absolute; top:100%; left:0; width:370px;}
.ddp-ui-contents-list .ddp-ui-option .ddp-wrap-info:hover .ddp-box-layout4 {display:block;}
.ddp-flow-edit-option .ddp-part.ddp-size-set {padding:11px 11px 10px 11px;}
.ddp-flow-edit-option .ddp-part.ddp-size-set2 {padding:14px;}
.ddp-flow-edit-option .ddp-size-set [class*="ddp-btn-size-"] + [class*="ddp-btn-size-"] {margin-left:9px;}
.ddp-flow-edit-option [class*="ddp-btn-size-"] {position:relative; display:inline-block; background:url(../../images/icon_edit_workflow.png) no-repeat;}
.ddp-flow-edit-option [class*="ddp-btn-size-"]:hover {background-position-x:-18px;}
.ddp-flow-edit-option [class*="ddp-btn-size-"]:hover .ddp-ui-tooltip-info {display:block; top:100%; right:-10px; left:inherit; margin-top:8px;}
.ddp-flow-edit-option [class*="ddp-btn-size-"]:hover .ddp-ui-tooltip-info em.ddp-icon-view-top {margin-left:0; left:inherit; right:17px;}
.ddp-flow-edit-option .ddp-btn-size-auto {width:17px; height:17px;}
.ddp-flow-edit-option .ddp-btn-size-zoomin {width:17px; height:17px; background-position:left -18px;}
.ddp-flow-edit-option .ddp-btn-size-zoomout {width:17px; height:17px; background-position:left -36px;}
.ddp-flow-edit-option .ddp-btn-size-alignment {width:18px; height:18px;background-position:left -54px;}
.ddp-flow-edit-option .ddp-btn-size-full {display:inline-block; width:15px; height:15px; background:url(../../images/btn_size.png) no-repeat; background-position:left -28px;}
.ddp-flow-edit-option .ddp-btn-size-full:hover {background-position-x:-16px;}
.ddp-flow-edit-option .ddp-btn-size-full.type-reduction,
.ddp-contents-workflow .ddp-workflow-edit.ddp-full .ddp-btn-size-full {display:inline-block; width:17px; height:17px; background:url(../../images/btn_size.png) no-repeat; background-position:left -44px;}
.ddp-contents-workflow .ddp-workflow-edit.ddp-full .ddp-btn-size-full:hover,
.ddp-flow-edit-option .ddp-btn-size-full.type-reduction:hover {background-position-x:-18px;}

.ddp-workflow-edit .ddp-wrap-edit-area {position:absolute; top:44px; left:2px; right:2px; bottom:2px;background:url(../../images/bg_edit_flow.png) repeat;}
.ddp-workflow-detail {position:relative;}
.ddp-workflow-detail .ddp-wrap-setting {float:left; width:50%; height:100%; padding:0 2px 4px 2px; box-sizing:border-box; overflow:auto; background-color:#fff;}
.ddp-workflow-detail .ddp-view-setting {height:100%; padding:2px; box-sizing:border-box;}
.ddp-workflow-detail .ddp-view-setting .ddp-setting-in {height:100%; border:1px solid #eee; box-sizing:border-box; overflow:auto;}
.ddp-workflow-detail .ddp-wrap-result {float:left; width:50%; height:100%;  padding:0 2px 4px 2px; box-sizing:border-box; overflow:auto;}

.ddp-workflow-detail .ddp-wrap-result.ddp-full {position:fixed; top:103px; left:43px; right:0; bottom:0; width:auto !important; padding:0px; z-index:70}
.ddp-layout-left.ddp-selected + .ddp-contents-workflow .ddp-wrap-result.ddp-full {left:285px;}

.ddp-workflow-detail .ddp-view-result {display:inline-block; height:100%; min-width:784px; padding:2px; background-color:#fff; box-sizing:border-box;box-sizing:border-box;}
.ddp-workflow-detail .ddp-view-result .ddp-wrap-tab2 li {min-width:180px;}

.ddp-workflow-detail .ddp-view-result .ddp-wrap-tab2 {position:relative;}
.ddp-workflow-detail .ddp-wrap-result .ddp-wrap-tab2 .ddp-list-option {position:relative; float:left; padding:0 10px 0 0;}
.ddp-workflow-detail .ddp-wrap-result .ddp-wrap-tab2 .ddp-list-option:after {display:inline-block; position:absolute; top:50%; right:0; margin-top:-7px; height:14px; border-right:1px solid #eeeff3; content:'';}
.ddp-workflow-detail .ddp-wrap-result .ddp-wrap-tab2 .ddp-list-option:last-of-type:after {display:none;}
.ddp-workflow-detail .ddp-wrap-result .ddp-wrap-tab2 .ddp-wrap-option {padding:7px 0 0 0;}
.ddp-workflow-detail .ddp-wrap-result .ddp-wrap-tab2 .ddp-wrap-option a.ddp-btn-line-s {font-size:12px;}
.ddp-workflow-detail .ddp-wrap-result .ddp-wrap-tab2 .ddp-btn-size-full {position:relative; display:inline-block; padding:7px 0 6px 0; margin-left:10px;}
.ddp-workflow-detail .ddp-wrap-result .ddp-wrap-tab2 .ddp-btn-size-full:hover  .ddp-ui-tooltip-info {display:block; top:100%; right:-10px; left:inherit; margin-top:8px;}
.ddp-workflow-detail .ddp-wrap-result .ddp-wrap-tab2 .ddp-btn-size-full .ddp-ui-tooltip-info .ddp-icon-view-top {margin-left:0; left:inherit; right:17px;}

.ddp-workflow-detail .ddp-wrap-result .ddp-btn-size-full {display:block;}
.ddp-workflow-detail .ddp-wrap-result .ddp-btn-size-full.ddp-btn-size-reduction {display:none;}
.ddp-workflow-detail .ddp-wrap-result .ddp-wrap-tab2 .ddp-btn-size-full:before {display:inline-block; width:15px; height:15px; background:url(../../images/btn_size.png) no-repeat; background-position:left -28px; content:'';}
.ddp-workflow-detail .ddp-wrap-result .ddp-wrap-tab2 .ddp-btn-size-full:hover:before {background-position-x:-16px;}

.ddp-workflow-detail .ddp-wrap-result.ddp-full .ddp-btn-size-full {display:none;}
.ddp-workflow-detail .ddp-wrap-result.ddp-full .ddp-btn-size-reduction {display:block;}
.ddp-workflow-detail .ddp-wrap-result.ddp-full .ddp-btn-size-reduction  {display:inline-block;width:17px; height:17px;background:url(../../images/btn_size.png) no-repeat; background-position:left -44px; content:'';}
.ddp-workflow-detail .ddp-wrap-result.ddp-full .ddp-btn-size-reduction:hover{background-position-x:-18px;}

ul.ddp-ui-tab.ddp-type3 li a {border-left:1px solid #eee;  border-top:1px solid #eee; border-bottom:none; color:#4b515b; font-size:12px; font-weight:normal;}
ul.ddp-ui-tab.ddp-type3 li.ddp-selected a {border-right:none; font-weight:bold;}
ul.ddp-ui-tab.ddp-type3 li.ddp-selected a:after { display:none;border-bottom:none;}
ul.ddp-ui-tab.ddp-type3 li:last-of-type a {border-right:1px solid #eee;}
.ddp-view-result .ddp-wrap-tab-contents {height:100%; margin-top:-42px; padding:42px 0 0 0; ; box-sizing:border-box;}
.ddp-view-result .ddp-ui-tab-contents {height:100%; border:1px solid #eee; box-sizing:border-box; overflow:auto;}

.ddp-workflow-detail .ddp-view-setting .ddp-ui-title {padding:30px 30px 3px 30px; }
.ddp-workflow-detail .ddp-view-setting .ddp-ui-title .ddp-name {display:block; color:#666eb2; font-weight:bold; font-size:16px;}
.ddp-workflow-detail .ddp-view-setting .ddp-ui-title .ddp-sub {display:block; padding:10px 0 0 0; color:#b7bac1; font-size:12px;}
.ddp-workflow-detail .ddp-form-setting {padding:25px 30px;}
.ddp-ui-popup-contents .ddp-top-result-option {padding:0 0 13px 0;}
/*.ddp-ui-popup-contents .ddp-wrap-table .ddp-box-add-link {margin-bottom:30px;}*/
.ddp-ui-popup-contents .ddp-wrap-table.ddp-mgb30 {margin-bottom:30px;}

.ddp-top-result-option {padding:0 23px;}
.ddp-top-result-option .ddp-ui-option {padding:18px 0 0 0;}

.ddp-top-result-option .ddp-ui-option .ddp-wrap-edit {float:left;}
.ddp-top-result-option .ddp-ui-option .ddp-ui-rightoption {float:right; position:relative; top:7px;}

.ddp-top-result-option .ddp-ui-option a.ddp-link-reset {color:#90969f; font-size:12px;}
.ddp-top-result-option .ddp-ui-option a.ddp-link-reset:hover {color:#4b515b;}
.ddp-top-result-option .ddp-ui-option a.ddp-link-reset em.ddp-btn-reset3 {position:relative; top:-1px; margin-right:6px; vertical-align: middle;}
.ddp-top-result-option .ddp-ui-option a.ddp-link-reset:hover em.ddp-btn-reset3 {background-position:-15px -34px;}
.ddp-top-result-option .ddp-ui-calen .ddp-input-typebasic.ddp-data-calen {padding:7px 0 6px 13px;}
.ddp-top-result-option .ddp-wrap-edit .ddp-ui-edit-option.ddp-inline .ddp-label-radio,
.ddp-top-result-option .ddp-wrap-edit .ddp-ui-edit-option.ddp-inline .ddp-label-checkbox{margin-right:13px;}
.ddp-top-result-option .ddp-wrap-edit .ddp-ui-edit-option.ddp-inline .ddp-label-checkbox
.ddp-top-result-option .ddp-data-total {position:relative; top:15px; color:#90969f;}
.ddp-view-result .ddp-wrap-table {padding:15px 19px 0 19px;}


/* 상태 */
.ddp-txt-status {font-size:11px; font-weight:bold;}
.ddp-txt-status.ddp-prep,
.ddp-txt-status.ddp-pause {color:#e8a900;}
.ddp-txt-status.ddp-running {color:#4caa7a;}
.ddp-txt-status.ddp-succeeded {color:#5a91da;}
.ddp-txt-status.ddp-suspended {color:#8a53d4;}
.ddp-txt-status.ddp-failed {color:#dc685e;}
.ddp-txt-status.ddp-killed {color:#90969f;}

.ddp-tag-txt {display:inline-block; width:64px; font-size:10px !important; font-weight:bold; text-align:center; color:#4b515b; letter-spacing:-0.5px; border:1px solid #4c515a; box-sizing:border-box;}
.ddp-tag-txt.ddp-prep {color:#f2b940; border-color:#f2b940;}
.ddp-tag-txt.ddp-running {color:#90bc59; border-color:#90bc59;}
.ddp-tag-txt.ddp-succeeded {color:#4872bb; border-color:#4872bb;}
.ddp-tag-txt.ddp-suspended {color:#8770cc; border-color:#8770cc;}
.ddp-tag-txt.ddp-failed {color:#e85f47; border-color:#e85f47;}
.ddp-tag-txt.ddp-killed {color:#7b7b7b; border-color:#7b7b7b;}


.type-edit-form .ddp-box-add {display:table; width:100%; height:109px; border:1px dotted #d0d1d8; border-radius:3px;}
.ddp-wrap-grid .ddp-box-add {display:table; width:100%; height:100%;}
.type-edit-form .ddp-box-add .ddp-txt-message,
.ddp-wrap-grid .ddp-box-add .ddp-txt-message {display:table-cell; width:100%; height:100%; vertical-align:middle; text-align:center; background-color:#fafafb; color:#b6b9c2; font-size:12px;}
.type-edit-form .ddp-box-add .ddp-txt-message .ddp-icon-add-r,
.ddp-wrap-grid .ddp-box-add .ddp-txt-message .ddp-icon-add-r {display:inline-block; width:13px; height:13px; background:url(../../images/flow/icon_add.png) no-repeat;}

.ddp-ui-field {overflow:hidden; padding-bottom:12px;}
.ddp-ui-field {margin:-2px;}
.ddp-ui-field li {float:left; padding:2px 2px; width:33.33333%; box-sizing:Border-box;}
.ddp-ui-field li .ddp-box-field {position:relative; padding:7px 25px 7px 7px; border-radius:3px; background-color:#f6f6f7; cursor:pointer;}
.ddp-ui-field li .ddp-box-field:hover {background-color:#d0d1d8;}
.ddp-ui-field li .ddp-data-type {float:right; color:#d0d1d8;}
.ddp-ui-field li .ddp-box-field:hover .ddp-data-type {color:#90969f;}
.ddp-ui-field li .ddp-txt-name {display:block; position:relative; font-size:13px; color:#4b515b; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ddp-ui-field li .ddp-icon-add-r {display:inline-block; position:absolute; top:50%; right:8px; width:13px; height:13px; margin-top:-7px; background:url(../../images/flow/icon_add.png) no-repeat; cursor:pointer;}
.ddp-ui-field li .ddp-icon-add-r:hover {background-position-x:-14px;}
.ddp-ui-field.type-new .ddp-list-field li .ddp-box-field {background-color:#f5f9ff;}
.ddp-ui-field.type-new .ddp-list-field li .ddp-box-field:hover {background-color:#d8dff9;}
.ddp-ui-field.type-new .ddp-list-field li .ddp-box-field .ddp-txt-name {color:#666eb2;}
.ddp-ui-field.type-new .ddp-list-field li .ddp-box-field .ddp-data-type {color:#c2c7ed;}
.ddp-ui-field.type-new .ddp-list-field li .ddp-box-field:hover .ddp-data-type {color:#9ca2cc;}
.ddp-ui-field.type-new .ddp-list-field li .ddp-box-field .ddp-icon-add-r {background-position-x:-28px; opacity:0.5; transform:rotate(45deg);}
.ddp-ui-field.type-new .ddp-list-field li .ddp-box-field .ddp-icon-add-r:hover {opacity:1;}
.ddp-ui-field.type-block {margin:-2px 0; padding-bottom:0;}
.ddp-ui-field.type-block li {width:100%; padding:2px 0;}
.ddp-ui-field.type-block li .ddp-box-field {padding-right:7px;}


    /**************************************************************
      split 수정
    **************************************************************/
#setting-flow {float:left; height:100%;}
#edit-flow {float:left; height:100%;}
#result-flow .ddp-wrap-result {position:absolute; top:0; left:0; right:0; bottom:0; width:100%; background-color:#fff;}

/**************************************************************
  아이콘 default, disabled, hover
**************************************************************/
.icon-default {opacity:0.8 !important;}
.icon-hover {opacity:1 !important;}
.icon-disabled {opacity:0.3 !important; cursor:no-drop !important;}

/**************************************************************
  flow 버튼 (아이콘)
**************************************************************/
.btn-action {display:inline-block; position:relative; width:16px; height:16px; }
.btn-action:before {display:inline-block; position:absolute; top:50%; left:50%; content:''; background:url(../../images/flow/btn_flow_action.png) no-repeat;}
.btn-action.type-run:before {width:8px; height:11px; margin:-6px 0 0 -4px;}
.btn-action.type-stop:before {width:9px; height:9px; margin:-5px 0 0 -5px; background-position:left -12px;}
.btn-action.type-copy:before {width:11px; height:13px; margin:-7px 0 0 -6px; background-position:left -22px;}
.btn-action.type-del:before {width:11px; height:12px; margin:-6px 0 0 -6px; background-position:left -36px;}
.btn-action.type-run:hover:before {background-position-x:-9px;}
.btn-action.type-stop:hover:before {background-position-x:-10px;}
.btn-action.type-copy:hover:before {background-position-x:-12px;}
.btn-action.type-del:hover:before {background-position-x:-12px;}

.ddp-btn-solid .ddp-icon-run {display:inline-block; width:7px; height:9px; margin-right:4px; background:url(../../images/flow/icon_flow_run.png) no-repeat; vertical-align:middle;}

/**************************************************************
  flow 아이콘
**************************************************************/
.ddp-icon-drop-business {display:inline-block; position:absolute; top:50%; left:13px; margin-top:-6px; width:13px; height:12px; background:url(../../images/flow/icon_flow_drop.png) no-repeat;}

/**************************************************************
  flow 상태
**************************************************************/
.ddp-txt-status.ddp-runnable {color:#e8a900;}

/**************************************************************
  table
**************************************************************/
table.ddp-table-type3 tbody tr td .btn-action {float:left; margin-right:10px;}

/**************************************************************
 flow 목록
**************************************************************/
.page-flow .ddp-layout-top-menu {position:fixed; left:0; right:0; top:0; z-index:1;}
.page-flow .ddp-layout-top-menu .ddp-top-label {color:#90969f;}
.page-flow .ddp-layout-top-menu .ddp-top-menu {padding-bottom:0;}
.page-flow .ddp-layout-top-menu .ddp-top-menu li a {padding:21px 0 15px 0;}
.page-flow .ddp-layout-top-menu .ddp-ui-more {margin:24px 24px 0 0;}
.page-flow .ddp-layout-top-menu .ddp-ui-more .ddp-wrap-popup2 {display:none; position:absolute; top:100%; right:0; margin-top:10px; min-width:214px;}
.page-flow .ddp-layout-top-menu .ddp-ui-more.ddp-selected .ddp-wrap-popup2 {display:block;}
.page-flow .ddp-layout-top-menu .ddp-ui-more.ddp-selected a.ddp-icon-more:before {background-position:left -12px;}
.page-flow .ddp-ui-contents-in.ddp-scroll .ddp-ui-contents-list {top:0;}
.page-flow .ddp-ui-contents-list {padding-top:54px; box-sizing:border-box;}
.page-flow .ddp-ui-contents-list .ddp-ui-option a.ddp-btn-link em.ddp-icon-link-add {background:url(../../images/flow/icon_flow_linkadd.png) no-repeat;}
.page-flow .ddp-ui-contents-list .ddp-wrap-option {margin-bottom:8px;}
.page-flow .ddp-ui-contents-list .ddp-ui-option .ddp-multi-search {margin-top:0;}
.page-flow .ddp-ui-contents-list .ddp-ui-option .ddp-ui-rightoption {margin-top:5px;}

/**************************************************************
 flow 상세 lnb
**************************************************************/
.type-flow ul li a em[class*="ddp-icon-lnb-"]:before {display:inline-block; background:url(../../images/flow/icon_lnb_flow.png) no-repeat;}
.type-flow ul li a em.ddp-icon-lnb-kafkasource:before {width:17px; height:20px; margin:-10px 0 0 -9px;}
.type-flow ul li a em.ddp-icon-lnb-filter:before {width:15px; height:13px; margin:-7px 0 0 -8px; background-position:left -42px; }
.type-flow ul li a em.ddp-icon-lnb-select:before {width:17px; height:15px; margin:-8px 0 0 -9px; background-position:left -56px;}
.type-flow ul li a em.ddp-icon-lnb-timewindow:before {width:17px; height:15px;  margin:-8px 0 0 -8px; background-position:left -72px;}
.type-flow ul li a em.ddp-icon-lnb-kafkasink:before {width:15px; height:20px; background-position:left -21px; margin:-10px 0 0 -9px;}

.type-flow ul li a:hover em.ddp-icon-lnb-kafkasource:before {background-position-x:-18px;}
.type-flow ul li a:hover em.ddp-icon-lnb-filter:before {background-position-x:-16px;}
.type-flow ul li a:hover em.ddp-icon-lnb-select:before {background-position-x:-18px;}
.type-flow ul li a:hover em.ddp-icon-lnb-timewindow:before {background-position-x:-18px;}
.type-flow ul li a:hover em.ddp-icon-lnb-kafkasink:before {background-position-x:-20px;}

.type-flow ul li a:hover em[class*="ddp-icon-lnb-"] {background-color:#4b515b;}

/**************************************************************
 flow 상세
**************************************************************/
.page-flow .ddp-flow-edit-option .ddp-btn-solid {min-width:auto; margin-right:4px;}
.page-flow .pipeline-graph .node-warning {background:url(../../images/pipeline/icon_warring_flow.png) no-repeat;}
.page-flow .ddp-workflow-detail .ddp-wrap-result {position:relative;}
.page-flow .ddp-workflow-detail .ddp-wrap-result.ddp-full {position:fixed; top:48px;}
.page-flow .ddp-workflow-detail .ddp-wrap-result .ddp-wrap-result-top {}
.page-flow .ddp-workflow-detail .ddp-wrap-result .ddp-wrap-result-top .ddp-label {display:inline-block; padding:15px 20px; font-weight:bold; color:#4b515b; font-size:14px;}
.page-flow .ddp-workflow-detail .ddp-wrap-result .ddp-wrap-result-top .ddp-flow-edit-option {float:right; margin:15px 15px 0 0;}
.page-flow .ddp-workflow-detail .ddp-wrap-result .ddp-wrap-grid {position:absolute; top:46px; left:0; right:0; bottom:0; border-top:1px solid #e8e8e8}
.page-flow .ddp-workflow-detail .ddp-wrap-result .ddp-wrap-grid .ddp-txt-error2 {display:block; padding:20px; text-align:left;}

.page-flow .ddp-workflow-edit.ddp-full {position:fixed; left:43px; right:0; bottom:0; top:48px; width:auto !important; box-sizing:border-box;}
.type-edit-form .ddp-box-error {padding:30px 0; text-align:center;}
.type-edit-form .ddp-box-error .ddp-box-synch {display:inline-block; width:300px;}
.type-edit-form .ddp-box-error .ddp-box-synch .ddp-txt-synch {display:inline-block; text-align:center;}
.type-edit-form .ddp-wrap-edit3.ddp-type .ddp-label-type {color:#90969f; font-size:13px; text-align:right;}
.type-edit-form .ddp-wrap-edit3 .ddp-ui-edit-option.ddp-type {padding-bottom:12px;}
.type-edit-form .ddp-wrap-edit3 .ddp-ui-edit-option.ddp-type.type-error {padding-bottom:20px;}
.type-edit-form .ddp-wrap-edit3.ddp-error .ddp-ui-edit-option.ddp-type {padding-bottom:20px;}
.type-edit-form .ddp-wrap-edit3 .ddp-ui-edit-option.ddp-type .ddp-form-type {clear:both; padding-top:4px;}

.type-edit-form .ddp-edit-multy .ddp-wrap-edit3 .ddp-ui-edit-option.ddp-type {padding-bottom:4px;}
.type-edit-form .ddp-edit-multy {padding-bottom:8px;}
.type-edit-form .ddp-wrap-edit3 .ddp-ui-edit-option.ddp-multi .ddp-type-multy [class*="ddp-col-"] {padding-bottom:0px;}

.page-flow .ddp-workflow-detail .ddp-view-setting {min-width:500px; position:relative;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-wrap-result-top .ddp-label {display:block; padding:15px 20px; color:#4b515b; font-size:14px; font-weight:bold;}

.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-wrap-result-top .ddp-label .ddp-ui-result {position:relative; padding:2px 18px 3px 4px; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; box-sizing:border-box;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-wrap-result-top .ddp-label .ddp-ui-result:hover {background-color:#d9dadf;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-wrap-result-top .ddp-label .ddp-ui-result .ddp-icon-edit2 {display:none; position:absolute; top:50%; right:4px; margin-top:-5px;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-wrap-result-top .ddp-label .ddp-ui-result:hover .ddp-icon-edit2 {display:block;}

.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-wrap-result-top .ddp-label .ddp-txt-title {float:left; max-width:60%; margin:-2px 0 -3px 0;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-wrap-result-top .ddp-label .ddp-txt-det {float:left; max-width:40%; margin:-2px 0 -2px 0;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-wrap-result-top .ddp-label .ddp-txt-det .ddp-ui-result {padding:4px 18px 4px 4px; font-size:12px; color:#90969f; font-weight:normal;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-label .ddp-txt-det .ddp-ui-edit input {font-size:12px; padding:4px;}

.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-wrap-result-top .ddp-label .ddp-ui-edit {display:none;}

.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-label .ddp-txt-title.ddp-edit .ddp-ui-result,
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-label .ddp-txt-det.ddp-edit .ddp-ui-result{display:none;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-label .ddp-txt-title.ddp-edit .ddp-ui-edit,
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-label .ddp-txt-det.ddp-edit .ddp-ui-edit {display:block;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-label .ddp-txt-title.ddp-edit {width:60%;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-label .ddp-txt-det.ddp-edit {width:40%;}

.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-label .ddp-ui-edit {position:relative; padding:0 23px 0 0; background-color:#d9dadf;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-label .ddp-ui-edit .ddp-btn-check {position:absolute; top:0; right:0;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-label .ddp-ui-edit input {display:inline-block; padding:2px 4px 3px 4px; width:100%; font-size:14px; border:none; background:none; box-sizing:border-box;}

.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-form-tabs {position:absolute; top:44px; left:0; right:0; bottom:0;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-form-tabs .ddp-wrap-tab-contents {padding:20px; border:1px solid #e7e7ea;}
.page-flow .ddp-workflow-detail .ddp-view-setting ul.ddp-ui-tab.ddp-type3 li {min-width:160px;}
.page-flow .ddp-workflow-detail .ddp-view-setting ul.ddp-ui-tab.ddp-type3 li a {height:34px; padding:11px 13px 9px 20px; text-align:left;}
.page-flow .ddp-workflow-detail .ddp-view-setting ul.ddp-ui-tab.ddp-type3 li.ddp-disabled:before {position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(255,255,255,0.7); content:''; z-index:1; cursor:no-drop;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-ui-edit-button.type-button {margin:0 -4px;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-ui-edit-button {padding:20px 0 0 130px; overflow:hidden;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-ui-edit-button .ddp-btn-solid2 {}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-ui-edit-button .ddp-btn-part {display:inline-block; float:left; padding:0 4px; width:33.3333%; box-sizing:border-box;}
.page-flow .ddp-workflow-detail .ddp-view-setting .ddp-ui-edit-button .ddp-btn-solid2.ddp-full {width:100%;}

.ddp-wrap-code-list .ddp-wrap-btn {padding-left:131px;}
.ddp-wrap-code-list .ddp-wrap-edit3 .ddp-ui-edit-option.ddp-type {padding-bottom:0;}

.ddp-edit-group {position:relative; padding-right:80px;}
.ddp-edit-group .ddp-ui-buttons {position:absolute; top:0; right:0; bottom:12px; width:75px;}
.ddp-edit-group .ddp-btn-table {display:table; width:100%; height:100%;}
.ddp-edit-group .ddp-btn-gray {display:table-cell; height:100%; vertical-align:middle;}
/* Button */
.ddp-btn-gray {display:inline-block; padding:7px 14px;border-radius:2px; color:#fff; font-size:13px; background-color:#b7b9c2;}
.ddp-btn-gray:hover {color:#fff;}
.ddp-edit-part {border-top:1px solid #eee; margin:8px 0 0 0; padding-top:20px; }

