@charset "utf-8";

.slickgrid-wrap-grid-popup {
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #fff;
    z-index: 10;
    text-align: left;
    -moz-box-shadow: 0 1px 3px rgba(84, 97, 104, .3); /* drop shadow */
    -webkit-box-shadow: 0 1px 3px rgba(84, 97, 104, .3); /* drop shadow */
    box-shadow: 0 1px 3px rgba(84, 97, 104, .3); /* drop shadow */
}

.slickgrid-wrap-grid-popup.slickgrid-grid-type ul.slickgrid-list-grid-popup li a {
    position: relative;
    padding-left: 35px;
    font-weight: normal;
}

ul.slickgrid-list-grid-popup li a em.slickgrid-icon-gird-view {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -4px;
    width: 4px;
    height: 7px;
    background: url(images/icon_tagview.png) no-repeat;
    transform: rotate(180deg);
}

ul.slickgrid-list-grid-popup li {
    position: relative;
}

ul.slickgrid-list-grid-popup li a {
    display: block;
    position: relative;
    padding: 6px 14px 6px 14px;
    font-size: 13px;
    color: #4b515b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.slickgrid-list-grid-popup li a:hover {
    background-color: #f6f6f7;
}

.grid-icon-drop-editdel3,
.grid-icon-drop-change,
.grid-icon-drop-editmodify,
.grid-icon-drop-generate,
.grid-icon-drop-sort,
.grid-icon-drop-move,
.grid-icon-drop-clean {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 13px;
    margin-top: -7px;
    width: 13px;
    height: 12px;
    background: url(images/icon_drop.png) no-repeat;
}

.grid-icon-drop-editdel3 {
    width: 11px;
    height: 12px;
    margin-top: -6px;
    background-position: -27px top;
}

.grid-icon-drop-change {
    width: 11px;
    height: 12px;
    margin-top: -6px;
    background-position: -137px top;
}

.grid-icon-drop-editmodify {
    width: 12px;
    height: 12px;
    background-position: -14px top;
}

.grid-icon-drop-generate {
    width: 13px;
    height: 13px;
    margin-top: -7px;
    background-position: -178px top;
}

.grid-icon-drop-sort {
    width: 13px;
    height: 13px;
    margin-top: -7px;
    background-position: -150px top;
}

.grid-icon-drop-move {
    width: 13px;
    height: 13px;
    margin-top: -7px;
    background-position: -164px top;
}

.grid-icon-drop-clean {
    width: 15px;
    height: 13px;
    margin-top: -7px;
    background-position: -237px top;
}

ul.slickgrid-list-grid-popup li.ddp-disabled:before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: 10;
    cursor: no-drop;
}

.type-grid {
    position: fixed;
    z-index: 130;
    width: 160px;
}

ul.slickgrid-list-grid-popup li .slickgrid-wrap-grid-popup {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 160px;
    margin-left: -5px;
}

ul.slickgrid-list-grid-popup li:hover > .slickgrid-wrap-grid-popup {
    display: block;
}

.slickgrid-wrap-grid-popup ul.slickgrid-list-grid-popup {
    white-space: nowrap;
}

/*************************************************************************************************************************************/
/* HeaderMenu button */
.slick-header-menubutton {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(images/down.gif);
    cursor: pointer;
    display: none;
    border-left: thin ridge silver;
}

.slick-header-column:hover > .slick-header-menubutton,
.slick-header-column-active .slick-header-menubutton {
    display: inline-block;
}