@charset "utf-8";

/**************************************************************
  component Condition
**************************************************************/
.wrap-condition .wrap-alarm-rule {background-color:#474c5a; border-radius:3px;}
.wrap-condition .box-alarm-rule {position:relative; padding:3px 10px 3px 10px;}

.wrap-condition .box-alarm-rule .box-in {position:relative; padding:10px 14px 16px 0;}
.wrap-condition .box-alarm-rule.type-edit .box-in {border-radius:3px; background-color:#474c5a;;}
.wrap-condition .wrap-alarm-rule .ui-option {padding:13px 24px 13px 16px; border-bottom:solid 1px #43495a; }
.wrap-condition .wrap-alarm-rule .ui-option .ddp-btn-pop {float:right;}
.wrap-condition .wrap-alarm-rule .ui-option > .ui-title {display:block; color:#c2c0ff; font-weight:bold; font-size:14px;overflow:hidden;}

.wrap-condition .wrap-alarm-rule .ui-option .ddp-form-label2 .ddp-label-type {font-size:12px;}Gb
.wrap-condition .wrap-alarm-rule .ui-option .ddp-btn-pop {float:right;}
.wrap-condition .box-alarm-rule + .box-alarm-rule {border-top:1px solid #2f323d;}
.wrap-condition .box-alarm-rule .ui-alarm-top .lavel-condition { overflow:hidden;}

.wrap-condition .box-alarm-rule .ui-alarm-top .lavel-condition .ui-edit.is-selected .form-edit .icon-check:before  {display:inline-block; position:absolute; top:50%; left:50%; margin:-6px 0 0 -6px; width:11px; height:8px; background:url(../../../images/icon_select2.png) no-repeat; background-position:-27px top; content:'';}

.wrap-condition .box-alarm-rule .ui-alarm-buttons {
    position:absolute;
    right:10px;
    top:10px;
    z-index:2;
}
.wrap-condition .box-alarm-rule .ui-alarm-buttons .ddp-label-checkbox .ddp-txt-checkbox {margin-right:8px; font-size:12px;vertical-align:middle;}

.wrap-condition .box-alarm-rule .ui-alarm-buttons .btn-edit,
.wrap-condition .box-alarm-rule .ui-alarm-buttons .btn-del {vertical-align:middle;}
.wrap-condition .box-alarm-rule .ui-alarm-top {
    margin-top:0;
    padding: 0 4px 16px 4px;
}

.wrap-condition .box-alarm-rule.type-edit .ui-alarm-top .ui-alarm-buttons {position:relative; top:6px; z-index:1;}
.wrap-condition .box-alarm-rule .table-form {width:100%; table-layout:fixed;}

.wrap-condition .box-alarm-rule .table-form tr th {
    color: #b4bacb;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    letter-spacing: -0.3px;
}

.wrap-condition .box-alarm-rule .table-form tr td {
    padding: 7px 0 7px 10px;
    color: #fff;
    font-size: 12px;
}
.wrap-condition .box-alarm-rule .table-form tr td .btn-form-option {margin-left:6px; vertical-align:middle;}

.wrap-condition .box-alarm-rule .table-form tr td .form-edit {
    margin-top: -4px;
    margin-bottom: -4px;
}


.wrap-condition .box-alarm-rule .table-form tr td .anm-input-form {margin:-4px 0;}
.wrap-condition .box-alarm-rule .table-form tr td .anm-input-form .ddp-input-typebasic {float:left; width:62px; vertical-align:middle;}
.wrap-condition .box-alarm-rule .table-form tr td .anm-input-form .ddp-input-typebasic.type-calen {width:172px;}
.wrap-condition .box-alarm-rule .table-form tr td .anm-input-form .ddp-type-selectbox {float:left; width:109px; margin-left:4px; vertical-align:middle;}
.wrap-condition .box-alarm-rule .table-form tr td .txt-type {color:#6e7486; font-size:12px;}
.wrap-condition .box-alarm-rule .table-form tr td .anm-input-form .txt-form {float:left; padding:7px 9px; color:#979db3; font-size:12px;}
.wrap-condition .box-alarm-rule .table-form tr td .anm-input-form .txt-form2 {float:left; padding:7px 9px;}

.wrap-condition .box-alarm-rule .table-form tr td .wrap-info {display:inline-block; position:relative; top:-1px; margin-left:6px; vertical-align:middle; font-size:0px;}
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .icon-info {display:inline-block; width:12px; height:12px;background:url(../../../images/anm/icon_detail.png) no-repeat; background-position:left -47px;}
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info.is-selected .icon-info,
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .icon-info:hover {background-position-x:-13px;}

.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info {display:none; position:absolute; top:100%; left:-20px; margin-top:5px; padding:14px; min-width:149px; border-radius:3px; background-color:#545a6a; white-space:nowrap; box-sizing:border-box; z-index:10}
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info.is-selected .popup-info {display:block;}
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info .btn-close {display:inline-block; position:absolute; top:6px; right:6px; width:10px; height:10px; background:Url(../../../images/anm/icon_close.png) no-repeat; }
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info .btn-close:hover {background-position-x:-11px;}
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info .txt-label {padding-bottom:9px; font-size:12px; font-weight:bold; color:#fff;}

.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info ul.list-recepient {}
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info ul.list-recepient li {color:#fff; font-size:12px;}
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info ul.list-recepient li + li {padding-top:10px;}
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info ul.list-recepient li .icon-mail,
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info ul.list-recepient li .icon-message,
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info ul.list-recepient li .icon-user {display:inline-block; margin-right:6px; background:url(../../../images/anm/icon_noti.png) no-repeat; vertical-align:middle;}
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info ul.list-recepient li .icon-user {width:8px; height:8px; background-position:left -18px;}
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info ul.list-recepient li .icon-email,
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info ul.list-recepient li .icon-message {display:inline-block; position:relative; margin-left:6px;background:url(../../../images/anm/icon_noti.png) no-repeat; vertical-align:middle;}
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info ul.list-recepient li .icon-email {width:9px; height:7px; background-position:-10px top;}
.wrap-condition .box-alarm-rule .table-form tr td .wrap-info .popup-info ul.list-recepient li .icon-message {width:9px; height:9px; background-position:-10px -8px;}




.wrap-condition .box-alarm-rule .btn-add {padding:9px 12px;}

.wrap-condition .box-alarm-rule .alarm-buttons {
    padding: 27px 0 0 0;
    text-align: center;
}

.wrap-condition .box-alarm-rule .alarm-buttons .ddp-btn-pop,
.wrap-condition .box-alarm-rule .alarm-buttons .ddp-btn-pop {
    margin: 0 3px;
}
.wrap-condition .link-add {
    display: inline-block;
    margin:-6px 0 0 10px;
    line-height:17px;
}
