@charset "utf-8";

/**************************************************************
  component Level
**************************************************************/
.component-level {font-size:13px; color:#fff;}
.component-level .icon-level {display:inline-block; margin-right:5px;background:url(../../../images/anm/icon_level.png) no-repeat; vertical-align:middle;}
.component-level .icon-level.type-low {width:12px; height:8px; background-position:left top;}
.component-level .icon-level.type-major {width:12px; height:8px; background-position:left -8px;}
.component-level .icon-level.type-moderate {width:10px; height:2px;  background-position:left -16px;}
.component-level .icon-level.type-critical {width:12px; height:12px;  background-position:left -19px;}

/**************************************************************
  pin 아이콘
**************************************************************/
.icon-pin {display:inline-block;width:18px; height:26px;}
.icon-pin.type-critical {background:url(../../../images/anm/icon_pin_critical.png) no-repeat;}
.icon-pin.type-major {background:url(../../../images/anm/icon_pin_major.png) no-repeat;}
.icon-pin.type-moderate {background:url(../../../images/anm/icon_pin_moderate.png) no-repeat;}
.icon-pin.type-low {background:url(../../../images/anm/icon_pin_low.png) no-repeat;}
.icon-pin.type-disabled {background:url(../../../images/anm/icon_pin_disabled.png) no-repeat;}

/**************************************************************
  view 아이콘
**************************************************************/
.icon-view-eye {display:inline-block;width:14px; height:9px;background:url(../../../images/anm/icon_view_eye.png) no-repeat;}
.icon-view-eye.type-hide {background-position:left top;}
.icon-view-eye.type-a {background-position:-15px top;}
.icon-view-eye.type-b {background-position:-30px top;}
.icon-view-eye.type-c {background-position:-45px top;}
.icon-view-eye.type-d {background-position:-60px top;}
.icon-view-eye.type-e {background-position:-75px top;}

.btn-view-eye {display:inline-block; padding:2px 6px 3px 6px; color:#ffffff; font-size:10px;background-color:#22252c; border-radius:3px;}
.btn-view-eye em.icon-view-eye {margin-right:4px; vertical-align:middle;}
.btn-view-eye:hover {background-color:#292c35;}
.btn-view-eye.type-hide em.icon-view-eye {background-position:left top !important;}
/**************************************************************
  component Condition Level
**************************************************************/
 .lavel-condition {
     display: block;
     position:relative;
     padding-left:25px;
     color: #fff;
     font-size: 13px;
     font-weight: bold;
}

.lavel-condition .icon-round {
    display: inline-block;
    position:absolute;
    top:50%;
    left:0;
    margin-top:-2px;
    width: 14px;
    height: 4px;
    vertical-align: middle;
    border-radius: 2px;
}

.lavel-condition .icon-round.type-a {
    background-color: #fb6aa5;
}

.lavel-condition .icon-round.type-b {
    background-color: #50e3c2;
}
.lavel-condition .icon-round.type-c {
    background-color: #19a5ff;
}
.lavel-condition .icon-round.type-d {
    background-color: #f5a623;
}
.lavel-condition .icon-round.type-e {
    background-color: #ff4e4e;
}

.lavel-condition .icon-pin { position:absolute; top:50%; left:0; margin-top:-11px; }


