@charset "utf-8";

/**************************************************************
  component edit form
**************************************************************/
.thema-black .ddp-wrap-edit3.ddp-type .ddp-label-type {color:#b4bacb; font-size:12px;}

/**************************************************************
  component dateinfo
**************************************************************/
.thema-black .ddp-ui-dateinfo .ddp-txt-date {color:#b4bacb}
.thema-black .ddp-ui-dateinfo .ddp-box-dateinfo {border:1px solid #9297a6; background:None;}
.thema-black .ddp-wrap-dateinfo.ddp-disabled .ddp-ui-dateinfo {opacity:0.3;}
.thema-black .ddp-wrap-dateinfo.ddp-disabled .ddp-ui-dateinfo:before {background:none;}
.thema-black .ddp-ui-calen {position:relative;}
.thema-black .ddp-ui-calen .ddp-box-calen {width:123px; background:none; border:1px solid #9297a6;}
.thema-black .ddp-ui-calen .ddp-input-typebasic.ddp-data-calen { padding:6px 0 7px 0; font-size:12px; text-align:center;color:#fff; border:none;}
.thema-black .ddp-ui-calen .ddp-bar {width:18px; color:#fff;}
.thema-black .ddp-ui-calen.ddp-disabled {opacity:0.3; cursor:no-drop;}
.thema-black .ddp-ui-calen.ddp-disabled:before {display:inline-block; position:absolute; top:0; left:0; right:0; bottom:0; z-index:1;}
.thema-black .ddp-ui-calen.ddp-disabled:before {display:inline-block; position:absolute; top:0; left:0; right:0; bottom:0; z-index:1; cursor:no-drop;}