@charset "utf-8";

/**************************************************************
  component Type icon
**************************************************************/
.thema-black em.ddp-icon-type-local {width:9px; height:12px; margin-top:-6px; background-position:left -10px;}
.thema-black em.ddp-icon-type-sharp {width:15px; height:8px; margin-top:-4px; background-position:left -23px;}
.thema-black em.ddp-icon-type-account {width:11px; height:12px; margin-top:-6px; background-position:left -32px;}
.thema-black em.ddp-icon-type-tf {width:14px; height:9px; background-position:left -45px;}
.thema-black em.ddp-icon-type-maplink {width:10px; height:10px; margin-top:-5px; background-position:left -54px;}
.thema-black em.ddp-icon-type-calen {width:11px; height:11px; margin-top:-6px; background-position:left -74px;}
.thema-black em.ddp-icon-type-int {width:8px; height:8px; background-position:left -87px;}
.thema-black em.ddp-icon-type-float {width:16px; height:8px; background-position:left -96px;}
.thema-black em.ddp-icon-type-latitude  {width:11px; height:11px; margin-top:-6px; background-position:left -119px;}
.thema-black em.ddp-icon-type-longitude {width:11px; height:11px; margin-top:-6px; background-position:left -131px;}
.thema-black em.ddp-icon-type-array {width:8px; height:10px; margin-top:-5px; background-position:left -107px;}

.thema-black em.ddp-icon-type-calen,
.thema-black em.ddp-icon-type-ab,
.thema-black em.ddp-icon-type-local,
.thema-black em.ddp-icon-type-sharp,
.thema-black em.ddp-icon-type-account,
.thema-black em.ddp-icon-type-tf,
.thema-black em.ddp-icon-type-maplink,
.thema-black em.ddp-icon-type-float,
.thema-black em.ddp-icon-type-int,
.thema-black em.ddp-icon-type-calen2,
.thema-black em.ddp-icon-type-latitude,
.thema-black em.ddp-icon-type-longitude,
.thema-black em.ddp-icon-type-array,
.thema-black em.ddp-icon-type-map,
.thema-black em.ddp-icon-type-phone,
.thema-black em.ddp-icon-type-email,
.thema-black em.ddp-icon-type-gender,
.thema-black em.ddp-icon-type-url,
.thema-black em.ddp-icon-type-zipcode,
.thema-black em.ddp-icon-type-private,
.thema-black em.ddp-icon-type-image,
.thema-black em.ddp-icon-type-binary,
.thema-black em.ddp-icon-type-spatial,
.thema-black em.ddp-icon-type-etc,
.thema-black em.ddp-icon-type-point,
.thema-black em.ddp-icon-type-line,
.thema-black em.ddp-icon-type-polygon {background:url(../../../images/anm/icon_valuetype.png) no-repeat;}
.thema-black em.ddp-icon-type-local {width:9px; height:12px; margin-top:-6px; background-position:left -10px;}
.thema-black em.ddp-icon-type-sharp {width:15px; height:8px; margin-top:-4px; background-position:left -23px;}
.thema-black em.ddp-icon-type-account {width:11px; height:12px; margin-top:-6px; background-position:left -32px;}
.thema-black em.ddp-icon-type-maplink {width:10px; height:10px; margin-top:-5px; background-position:left -54px;}
.thema-black em.ddp-icon-type-tf {width:14px; height:9px; background-position:left -45px;}
.thema-black em.ddp-icon-type-float {width:16px; height:8px; background-position:left -96px;}
.thema-black em.ddp-icon-type-int {width:8px; height:8px; background-position:left -87px;}
.thema-black em.ddp-icon-type-calen {width:11px; height:11px; margin-top:-6px; background-position:left -74px;}
.thema-black em.ddp-icon-type-latitude  {width:11px; height:11px; margin-top:-6px; background-position:left -119px;}
.thema-black em.ddp-icon-type-longitude {width:11px; height:11px; margin-top:-6px; background-position:left -131px;}
.thema-black em.ddp-icon-type-array {width:8px; height:10px; margin-top:-5px; background-position:left -107px;}
.thema-black em.ddp-icon-type-map {width:14px; height:10px; margin-top:-5px; background-position:left -143px;}
.thema-black em.ddp-icon-type-phone {width:13px; height:13px; margin-top:-7px; background-position:left -154px;}
.thema-black em.ddp-icon-type-email {width:12px; height:12px; margin-top:-6px; background-position:left -168px;}
.thema-black em.ddp-icon-type-gender {width:11px; height:11px; margin-top:-6px; background-position:left -181px;}
.thema-black em.ddp-icon-type-url {width:15px; height:9px; margin-top:-5px; background-position:left -193px;}
.thema-black em.ddp-icon-type-zipcode {width:16px; height:7px; margin-top:-4px; background-position:left -203px;}
.thema-black em.ddp-icon-type-private {width:11px; height:12px; margin-top:-6px; background-position:left -211px;}
.thema-black em.ddp-icon-type-image {width:11px; height:10px; background-position:left -224px;}
.thema-black em.ddp-icon-type-binary {width:9px; height:11px; background-position:left -235px;}
.thema-black em.ddp-icon-type-spatial {width:11px; height:12px; background-position:left -247px;}
.thema-black em.ddp-icon-type-etc {width:14px; height:7px; background-position:left -260px;}

em.ddp-icon-type-point {width:9px; height:12px; background-position:left -268px;}
em.ddp-icon-type-line {width:10px; height:12px; background-position:left -281px;}
em.ddp-icon-type-polygon {width:13px; height:13px; background-position:left -294px;}
.list-typevalue {position:relative; padding-left:22px; position:relative; color:#fff;}
.list-typevalue [class*="ddp-icon-measure"],
.list-typevalue [class*="ddp-icon-dimension"]{position:absolute; top:50%; left:0; margin-top:-6px;}
.list-typevalue .ddp-icon-dimension-sharp,
.list-typevalue .ddp-icon-dimension-tf,
.list-typevalue .ddp-icon-dimension-float,
.list-typevalue .ddp-icon-dimension-int,
.list-typevalue .ddp-icon-measure-sharp,
.list-typevalue .ddp-icon-measure-tf,
.list-typevalue .ddp-icon-measure-float,
.list-typevalue .ddp-icon-measure-int {margin-top:-4px;}
