h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend{
  font-family: SpoqaHanSans,Arial,sans-serif;
}
.wy-nav-content{
  max-width:100%;
}
.wy-side-nav-search>a img.logo, .wy-side-nav-search .wy-dropdown>a img.logo{
  max-width:80%;
}
.wy-menu-vertical a{
  padding:.8em 1.618em;
}
.wy-side-nav-search{
  background-color: #131B30;
}
.wy-nav-side{
  border-right: 1px solid;
  background:#131B30;
}
.wy-side-nav-search input[type=text]{
  border:none;
  border-bottom:1px solid #1d2342;
  border-radius:0;
  box-shadow:none;
}
.wy-nav-content-wrap{
  background:#fcfcfc!important;
}
.wy-breadcrumbs li.wy-breadcrumbs-aside, .wy-menu-vertical li.toctree-l3{
  display: none;
}
.wy-menu-vertical li.toctree-l1.current>a{
  border:none;
  background:#131B30;
  color:#fff;
}
.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a{
  background:#131B30;
  color:#aab5d3;
}
.wy-menu-vertical li.current{
  background:#131B30;
}
.wy-menu-vertical li.toctree-l2.current>a{
  background:#303c59;
  color:#fff;
}
.wy-menu-vertical li.toctree-l2.current>a span.toctree-expand{
  display:none;
}
.wy-menu-vertical li:hover, .wy-menu-vertical li>a:hover{
  background:none!important;
}
footer, footer p{
  font-size:12px;
}
.wy-breadcrumbs li,footer .btn-neutral{
  font-size:14px;
}
.wy-plain-list-disc li a, .rst-content .section ul li a, .rst-content .toctree-wrapper ul li a, article ul li a, .wy-breadcrumbs li a:visited {
  color: #1972d0;
}
.rst-content img{
  max-width: 70%;
  margin: 0 100% 0 0;
}

@media screen and (max-width: 768px) {
  .wy-nav-top {
    background: #2ABCEF;
  }
}