@charset "utf-8";

/**************************************************************************
    Metatron 동일한 페이지 : CompleteRuleCreation
**************************************************************************/
.thema-black .ddp-wrap-boxtype {background-color:#474c5a;}
.thema-black table.ddp-wrap-boxdata tr th {color:#b4bacb;}
.thema-black table.ddp-wrap-boxdata tr td {color:#fff;}
.thema-black .ddp-wrap-edit2 label.ddp-label-type {color:#b4bacb;}
.thema-black table.ddp-wrap-boxdata tr td .data-text {color:#babec9;}
.thema-black table.ddp-wrap-boxdata tr td .data-text .data-num {color:#ff687a;}
