@charset "utf-8";

/***************************************************************************************
   Page : selecting Measure
***************************************************************************************/
.thema-black .ddp-ui-accout-textarea {background-color:#262832;}
.thema-black .ddp-ui-accout-textarea .ddp-wrap-edit .ddp-ui-edit {border-top-color:#3f434f; border-bottom-color:#3f434f; background-color:#fff; color:#fff;}
.thema-black .ddp-ui-message span.ddp-data-error {color:#ff687a;}
.thema-black .ddp-ui-message span.ddp-data-error em.ddp-icon-error  {background:url(../../../images/anm/icon_message.png) no-repeat;}
.thema-black .ddp-ui-account-search {height:455px; margin-bottom:0px;}
.thema-black .ddp-ui-account-search .ddp-wrap-add-list {border-color:#3f434f;}
.thema-black .ddp-label-pop-title {color:#b4bacb;}
.thema-black .ddp-ui-top span.ddp-ui-sub-title{color:#2abcef;}
.thema-black .ddp-ui-formula {background-color:transparent;}
.thema-black ul.ddp-list-typebasic.ddp-view li.ddp-selected a {background-color:#5f6473; color:#fff;}
.thema-black ul.ddp-list-typebasic.ddp-view li.ddp-selected a .ddp-btn-view {background-color:#494e5c;}
.thema-black ul.ddp-list-typebasic.ddp-view li a .ddp-btn-view:before {display:inline-block; width:5px; height:9px; background:url(../../../images/anm/icon_list_view.png) no-repeat; background-position:left top;}

.thema-black ul.ddp-list-typebasic li a {color:#fff;}
.thema-black ul.ddp-list-typebasic li a:hover {background-color:#5f6473;}
.thema-black ul.ddp-list-typebasic li a .ddp-icon-plus {background:url(../../../images/anm/btn_forum_add.png) no-repeat;}
.thema-black .ddp-wrap-formula {border-color:#3f434f;}
.thema-black .ddp-view-formula .ddp-ui-detail {border-color:#3f434f;}
.thema-black .ddp-view-formula .ddp-ui-detail .ddp-ui-det-title {color:#fff;}
.thema-black .ddp-view-formula .ddp-ui-detail .ddp-ui-det-category {color:#b4bacb;}
.thema-black .ddp-view-formula .ddp-ui-detail .ddp-txt-det {color:#fff;}



.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-ab,
.thema-black .ddp-types ul.ddp-list-popup li a em.ddp-icon-type-ab{background-position-x:-14px;}
.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-local,
.thema-black .ddp-types ul.ddp-list-popup li a em.ddp-icon-type-local {background-position-x:-10px;}
.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-sharp,
.thema-black .ddp-types ul.ddp-list-popup li a em.ddp-icon-type-sharp {background-position-x:-15px;}
.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-account,
.thema-black .ddp-types ul.ddp-list-popup li a em.ddp-icon-type-account {background-position-x:-12px;}
.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-tf,
.thema-black .ddp-types ul.ddp-list-popup li a em.ddp-icon-type-tf{background-position-x:-15px;}
.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-maplink,
.thema-black .ddp-types ul.ddp-list-popup li a em.ddp-icon-type-maplink{background-position-x:-11px;}
.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-calen,
.thema-black .ddp-types ul.ddp-list-popup li a em.ddp-icon-type-calen{background-position-x:-12px;}
.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-int,
.thema-black .ddp-types ul.ddp-list-popup li a em.ddp-icon-type-int {background-position-x:-8px;}
.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-float,
.thema-black .ddp-types ul.ddp-list-popup li a em.ddp-icon-type-float {background-position-x:-16px;}
.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-latitude,
.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-latitude{background-position-x:-9px;}
.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-longitude,
.thema-black .ddp-types ul.ddp-list-popup li a em.ddp-icon-type-longitude {background-position-x:-12px;}
.thema-black ul.ddp-list-typebasic.ddp-typeicon li a em.ddp-icon-type-array,
.thema-black .ddp-types ul.ddp-list-popup li a em.ddp-icon-type-array {background-position-x:-12px;}


