@charset "utf-8";

/***************************************************************************************
   Page : selecting Filter
***************************************************************************************/

.anm-box-filter {min-width:270px; width:270px; height:100%; background-color:#37435b; margin-right:10px; text-align:left;}
.anm-box-filter .filter-top {position:relative; z-index:2;}
.anm-box-filter .label-title {display:inline-block; max-width:100%; padding:19px 20px 20px 20px;overflow:hidden; box-sizing:border-box;}
.anm-box-filter .label-title .data-label {display:block; max-width:100%;color:#fff; font-size:16px; font-weight:bold;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.anm-box-filter .label-title .btn-show-detail {position:relative; top:3px; float:right; width:12px; height:12px; margin-left:4px; background:url(../../../images/anm/icon_info2.png) no-repeat;}
.anm-box-filter .label-title .btn-show-detail:hover {background-position:-13px top;}
.anm-box-filter .label-title .ddp-ui-detail {}
.anm-box-filter .label-title .ddp-ui-detail .ddp-ui-tooltip-info .ddp-icon-view-top {right:16px; left:initial; margin:0;}
.anm-box-filter .setting-form {padding:0 20px 13px 20px;}
.anm-box-filter .setting-form .ddp-form-label2 .ddp-label-type {float:left; position:relative; top:6px;  font-size:12px;}
.anm-box-filter .setting-form .ddp-form-label2 .ddp-wrap-dropdown {display:inline-block; width:150px;}

.wrap-selecting-filter ul.list-selecting-filter > li > a {display:block; position:relative; background-color:#636979;box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);}
.wrap-selecting-filter ul.list-selecting-filter > li + li > a {border-top:1px solid #37435b;}
.wrap-selecting-filter ul.list-selecting-filter > li > a .box-loading {display:inline-block; position:relative; top:-2px; padding:4px 6px 4px 4px; margin-left:9px; font-size:10px; border-radius:2px; background-color:#474c5a; color:#fff;}
.wrap-selecting-filter ul.list-selecting-filter > li > a .box-loading  .lds-spin {margin-right:4px; vertical-align:middle;}
.wrap-selecting-filter ul.list-selecting-filter > li > a .txt-title {display:inline-block; padding:16px 0 14px 20px; color:#fff; font-weight:bold; font-size:16px;}
.wrap-selecting-filter ul.list-selecting-filter > li > a .data-num {position:absolute; top:50%; right:30px; margin-top:-8px; color:#bdc2cf; font-size:12px;}
.wrap-selecting-filter ul.list-selecting-filter > li.is-selected > a .data-num {right:20px;}
.wrap-selecting-filter ul.list-selecting-filter > li > a:after {display:inline-block; position:absolute; top:50%; right:15px; margin-top:-3px; width:9px; height:5px; background:url(../../../images/anm/icon_filter_arrow.png) no-repeat; content:'';}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter {position:relative; display:none; overflow:auto;}
.wrap-selecting-filter ul.list-selecting-filter li.is-selected .sub-filter {display:block; overflow:auto;}
.wrap-selecting-filter ul.list-selecting-filter li.is-selected > a:after {display:none;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .ui-setting {padding:10px 20px 3px 20px;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .ui-setting .ddp-form-search {width:100%;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .ui-setting .type-show {padding:8px 0 0 0;text-align:right;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .ddp-label-checkbox.ddp-setting {float:right; margin-top:12px;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .label-filter {position:relative; padding:6px 35px 6px 40px; margin-top:7px;color:#66d7a5; font-size:12px; font-weight:bold; cursor:pointer;}

.wrap-selecting-filter ul.list-selecting-filter .sub-filter .label-filter .btn-value-create {display:inline-block; position:absolute; top:50%; right:13px; margin-top:-7px; width:13px; height:13px; background:url(../../../images/anm/icon_value_create.png) no-repeat; opacity:0.5;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .label-filter .btn-value-create:hover {opacity:1;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .label-filter.type-measure {color:#66d7a5;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .label-filter.type-dimension {color:#4c9fe5;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .label-filter .icon-value-view {display:inline-block; position:absolute; top:50%; left:20px; margin-top:-4px; width:10px; height:7px; background:url(../../../images/anm/icon_value_view.png) no-repeat; transform:rotate(180deg);}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .wrap-data-list + .wrap-data-list {border-top:1px solid #2f323d;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .wrap-data-list.is-selected .icon-value-view {transform:rotate(0deg);}

.wrap-selecting-filter ul.list-selecting-filter .sub-filter .wrap-data-list .wrap-page {padding:20px 20px 15px 0; text-align:right;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .wrap-data-list .wrap-page .ddp-ui-page {display:inline-block;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .label-filter.type-dimension .icon-value-view {background-position:left -7px;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .label-filter .btn-create {display:Inline-block; position:absolute; top:50%; right:20px; margin-top:-6px; width:13px; height:13px; background:url(../../../images/anm/icon_filter_create.png) no-repeat;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .label-filter .btn-create:hover {background-position-x:-14px;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .wrap-page {padding-bottom:10px; text-align:right;}
.wrap-selecting-filter ul.list-selecting-filter .sub-filter .wrap-page .ddp-ui-page {display:inline-block;}
.wrap-selecting-filter .list-filter {display:none;}
.wrap-selecting-filter .wrap-data-list.is-selected .list-filter {display:block;}
.wrap-selecting-filter .list-filter > li > a {display:block; position:relative;}
.wrap-selecting-filter .list-filter > li {position:relative; padding:7px 13px 8px 40px;}
.wrap-selecting-filter .list-filter > li:hover {background-color:#3f4455;}
.wrap-selecting-filter .list-filter.list-type > li {cursor:pointer;}

.wrap-selecting-filter .list-filter > li .icon-chart-area {display:inline-block; position:absolute; top:50%; left:20px;background:url(../../../images/anm/icon_chart_area.png) no-repeat;}
.wrap-selecting-filter .list-filter > li .icon-chart-area.type-cross {width:12px; height:12px; margin-top:-6px;}
.wrap-selecting-filter .list-filter > li .icon-chart-area.type-split {width:12px; height:13px; margin-top:-7px; background-position:left -13px;}
.wrap-selecting-filter .list-filter > li .icon-chart-area.type-filter {width:12px; height:10px; margin-top:-5px; background-position:left -27px;}

.wrap-selecting-filter .list-filter li .ddp-label-checkbox {display:block; overflow:hidden; box-sizing:border-box;}
.wrap-selecting-filter .list-filter li .ddp-label-checkbox .ddp-txt-checkbox.ddp-value {display:block; position:relative;padding-left:21px; width:100%; box-sizing:Border-box; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.wrap-selecting-filter .list-filter li .ddp-label-checkbox .ddp-txt-checkbox.ddp-value [class*="ddp-icon-measure-"] {position:absolute; top:50%; left:0; margin-top:-6px;}
.wrap-selecting-filter .list-filter li .list-typevalue {display:block; box-sizing:border-box; overflow:Hidden; white-space:nowrap;text-overflow:ellipsis}
.wrap-selecting-filter .list-filter li .ui-value-setting {float:right; margin-top:-3px;}
.wrap-selecting-filter .list-filter li .ui-value-setting .ddp-hover-tooltip {position:relative; float:left;}
.wrap-selecting-filter .list-filter li .ui-value-setting .ddp-hover-tooltip .ddp-ui-tooltip-info.ddp-down em.ddp-icon-view-top {right:18px;}
.wrap-selecting-filter .list-filter li .ui-value-setting [class*="btn-"] {display:none; float:left; position:relative; width:20px; height:20px;}

.wrap-selecting-filter .list-filter li:hover .ui-value-setting [class*="btn-"] {display:block;}
.wrap-selecting-filter .list-filter li .ui-value-setting [class*="btn-"]:before {display:inline-block; position:absolute; top:50%; left:50%; background:url(../../../images/anm/icon_value_setting.png) no-repeat; opacity:0.5; vertical-align:middle; content:'';}
.wrap-selecting-filter .list-filter li .ui-value-setting .btn-split:before { margin:-6px 0 0 -5px; width:10px; height:12px;}
.wrap-selecting-filter .list-filter li .ui-value-setting .btn-split.is-selected:before {background-position-x:-11px;}
.wrap-selecting-filter .list-filter li .ui-value-setting .btn-customer:before {width:10px; height:10px; margin:-5px 0 0 -5px; background-position:left -48px;}
.wrap-selecting-filter .list-filter li .ui-value-setting .btn-filter:before {width:10px; height:8px; margin:-4px 0 0 -5px; background-position:left -13px;}
.wrap-selecting-filter .list-filter li .ui-value-setting .btn-filter.is-selected:before {background-position-x:-11px; opacity:1;}
.wrap-selecting-filter .list-filter li .ui-value-setting .btn-set-del:before {width:13px; height:13px; margin:-7px 0 0 -7px; background-position:left -22px;}
.wrap-selecting-filter .list-filter li .ui-value-setting .btn-value:before {width:11px; height:11px; margin:-6px 0 0 -6px; background-position:left -36px;}
.wrap-selecting-filter .list-filter li .ui-value-setting [class*="btn-"].is-selected:before,
.wrap-selecting-filter .list-filter li .ui-value-setting [class*="btn-"]:hover:before {opacity:1;}
.wrap-selecting-filter .list-filter li .ui-value-setting [class*="btn-"].is-selected {display:block !important;}






.wrap-selecting-filter .list-filter li .ui-filter-buttons {float:right; position:relative; top:-2px; right:-6px;}
.wrap-selecting-filter .list-filter li .ui-filter-buttons .btn-filter-value,
.wrap-selecting-filter .list-filter li .ui-filter-buttons .btn-filter-del {display:inline-block; position:relative; width:20px; height:20px;}
.wrap-selecting-filter .list-filter li .ui-filter-buttons .btn-filter-value:before,
.wrap-selecting-filter .list-filter li .ui-filter-buttons .btn-filter-del:before {display:inline-block; position:absolute; top:50%; left:50%; background:url(../../../images/anm/icon_filter_value.png) no-repeat; content:'';}
.wrap-selecting-filter .list-filter li .ui-filter-buttons .btn-filter-value:before {width:11px; height:11px; margin:-6px 0 0 -6px; background-position:left top;}
.wrap-selecting-filter .list-filter li .ui-filter-buttons .btn-filter-value:hover:before {background-position-x:-12px;}
.wrap-selecting-filter .list-filter li .ui-filter-buttons .btn-filter-del:before {width:13px; height:13px;margin:-7px 0 0 -7px;  background-position:left -12px;}
.wrap-selecting-filter .list-filter li .ui-filter-buttons .btn-filter-del:hover:before {background-position:-14px -12px;}
.wrap-selecting-filter .list-filter li .ui-filter-buttons .ddp-ui-tooltip-info .ddp-icon-view-down {right:18px; margin:0; left:inherit;}

.popup-select-measure {height:100%;}
.popup-select-measure .ddp-popup-add-condition {height:100%; padding:0 124px;}
.popup-select-measure .anm-box-filter {float:left;}
.popup-select-measure .component-total-score {height:100%; box-sizing:Border-box; overflow:Hidden; }
.popup-select-measure .component-total-score .ui-total-core {margin:0; padding:0;}
.popup-select-measure .component-total-score .wrap-total-core {overflow-x:hidden; height:100%;}
.popup-select-measure .component-total-score .wrap-total-core .box-graph {position:relative; padding:9px 20px 9px 20px; height:175px;}
.popup-select-measure .component-total-score .wrap-total-core .chart-area2 {height:110px; position:absolute; left:0; right:0; text-align:left; border-top:1px dotted #474d5d;}
.popup-select-measure .component-total-score .wrap-total-core .graph-seperate {position:relative;}
.popup-select-measure .component-total-score .wrap-total-core .graph-seperate .graph-part {padding:9px 0;}
.popup-select-measure .component-total-score .wrap-total-core .graph-seperate .graph-part + .graph-part{border-top:1px dotted #474d5d;}
.popup-select-measure .component-total-score .wrap-total-core .graph-merge {position:relative; text-align:left;}
.popup-select-measure .component-total-score .wrap-total-core .graph-merge .graph-setting {position:absolute; top:0; left:0; right:0; padding:16px 20px 0 20px;}
.popup-select-measure .component-total-score .wrap-total-core .graph-merge .txt-title {color:#fff; font-size:12px;}

.popup-select-measure .component-total-score .wrap-total-core .graph-merge .graph-mark {padding:16px 0 18px 0;}
.popup-select-measure .component-total-score .wrap-total-core .graph-merge .graph-mark .ddp-ui-page {float:left; margin-right:10px;}
.popup-select-measure .component-total-score .wrap-total-core .graph-merge .graph-mark .btn-mark {position:relative; top:3px;padding:4px 6px; border-radius:3px; background-color:#373a44; color:#fff; font-size:10px;}
.popup-select-measure .component-total-score .wrap-total-core .graph-merge .graph-mark .btn-mark + .btn-mark {margin-left:6px;}
.popup-select-measure .component-total-score .wrap-total-core .graph-merge .graph-mark .btn-mark:hover {background-color:#292b32;}
.popup-select-measure .component-total-score .wrap-total-core .graph-merge .graph-mark .btn-mark .icon-mark-r {display:inline-block; width:8px; height:8px; margin-right:3px; border-radius:50%; vertical-align:middle;}
.popup-select-measure .component-total-score .wrap-total-core .graph-merge .graph-mark .btn-mark.is-disabled {background-color:#2b2e37 !important; color:#494e5e;}
.popup-select-measure .component-total-score .wrap-total-core .graph-merge .graph-mark .btn-mark.is-disabled .icon-mark-r {background-color:#494e5e !important; }

.popup-select-measure .component-total-score .wrap-total-core .box-merge-graph {position:absolute; left:0; right:0; height:330px; border-bottom:1px dotted #474d5d;}


.popup-select-measure .anm-interval-option {margin:0 10px; padding:14px 10px 16px 10px; border-bottom:1px dotted #6a748c;}
.popup-select-measure .anm-interval-option .ddp-wrap-edit3.ddp-type .ddp-label-type {width:80px;}
.popup-select-measure .anm-interval-option .ddp-wrap-edit3.ddp-type .ddp-type-selectbox {width:100%;}
.popup-select-measure .wrap-selecting-filter .ddp-wrap-dateinfo {}
.popup-select-measure .wrap-selecting-filter .anm-interval-calen {padding:16px 0 0 0;text-align:center;}
.popup-select-measure .wrap-selecting-filter .anm-interval-calen .ddp-type-selectbox {display:inline-block; width:80px; margin:0 2px;text-align:left; vertical-align:top;}
.popup-select-measure .wrap-selecting-filter .anm-interval-calen .ddp-input-typebasic {display:inline-block; width:62px; text-align:left; vertical-align:top;}
.popup-select-measure .wrap-selecting-filter .anm-interval-dateinfo {padding:8px 20px;}


/* 선반 */
.popup-select-measure .wrap-new-chart {position:relative; text-align:left;z-index:105;}
.popup-select-measure .wrap-new-chart .ui-label {position:relative; padding:14px 20px; color:#fff; font-size:14px; font-weight:bold; z-index:5;}
.popup-select-measure .wrap-new-chart .ui-label .box-toggle {position:absolute; top:12px; right:12px;}
.popup-select-measure .wrap-new-chart .ui-label .box-toggle a {width:25px; height:25px;}
.popup-select-measure .wrap-new-chart .ui-label .box-toggle .ddp-ui-tooltip-info {left:inherit; right:0px; font-weight:normal;}
.popup-select-measure .wrap-new-chart .ui-label .box-toggle .ddp-ui-tooltip-info  .ddp-icon-view-top {left:inherit; right:13px;}
.popup-select-measure .wrap-new-chart .wrap-chart-shelf {padding-bottom:17px; border-bottom:1px dotted #2f323d;}
.popup-select-measure .wrap-new-chart .view-chart-shelf {position:relative; white-space:nowrap;}
.popup-select-measure .wrap-new-chart .view-chart-shelf + .view-chart-shelf {margin-top:18px;}
.popup-select-measure .wrap-new-chart .ui-shelf-slider {display:inline-block;}

.popup-select-measure .wrap-new-chart .view-chart-shelf [class*="btn-slider-"] {display:inline-block; position:relative; width:20px; height:28px; background-color:#1e2129; z-index:1;}
.popup-select-measure .wrap-new-chart .view-chart-shelf [class*="btn-slider-"]:before {display:inline-block; position:absolute; top:50%; left:50%; margin:-5px 0 0 -3px; width:6px; height:9px; background:url(../../../images/anm/icon_slider_page.png) no-repeat; content:''; opacity:0.2;}
.popup-select-measure .wrap-new-chart .view-chart-shelf [class*="btn-slider-"]:hover:before {opacity:1;}
.popup-select-measure .wrap-new-chart .view-chart-shelf .slider-page {display:none}
.popup-select-measure .wrap-new-chart .view-chart-shelf .btn-slider-prev {position:absolute; top:0; left:42px; transform:rotate(180deg);}
.popup-select-measure .wrap-new-chart .view-chart-shelf .btn-slider-next {position:absolute; top:0; right:0;}
.popup-select-measure .wrap-new-chart .ui-shelf-filter {position:relative; display:inline-block; margin-left:-2px;}
.popup-select-measure .wrap-new-chart .wrap-box-shelf {display:inline-block;}
.popup-select-measure .wrap-new-chart .wrap-box-shelf.type-slider {padding:0 20px;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf {display:inline-block; position:relative; padding-left:42px;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf.type-split {background-color:#1e2129; z-index:10;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .icon-chart-area {display:inline-block; position:absolute; top:0; left:0; width:42px; height:28px; background:#1e2129; z-index:5;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .icon-chart-area:before {display:inline-block;position:absolute; top:50%; left:20px; background:url(../../../images/anm/icon_chart_area.png) no-repeat; content:'';}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .icon-chart-area.type-cross:before {width:12px; height:12px; margin-top:-6px;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .icon-chart-area.type-split:before {width:12px; height:13px; margin-top:-7px; background-position:left -13px;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .icon-chart-area.type-filter:before {width:12px; height:10px; margin-top:-5px; background-position:left -27px;}

.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-guide {display:inline-block; position:relative; padding:6px 4px 5px 4px; border-radius:3px; border:1px dotted #2f323d; vertical-align:middle;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-guide .data-shelf {display:inline-block; position:relative;padding:0 6px; }
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-guide .data-shelf:before {display:inline-block; position:absolute; top:50%; left:0; height:12px; margin-top:-6px; border-left:1px solid #2f323d; content:''; }

.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-guide .data-shelf:first-of-type:before {display:none;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-guide .txt-aggregate {color:#204c39;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-guide .txt-count {color:#21435e;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-guide .txt-split {color:#62430f;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-guide .txt-filter {color:#62430f;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .btn-shelf-add {display:inline-block; width:80px; height:28px; margin-left:10px; background:url(../../../images/anm/btn_shelf.png) no-repeat; vertical-align:middle;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf {display:inline-block; position:relative; padding-right:32px; margin-left:4px; vertical-align:middle; border-radius:3px; background-color:#2a2d38; color:#fff; cursor:pointer;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf:hover {background-color:#3a3e4d;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .txt-value {display:inline-block; position:relative; margin-right:10px; padding:6px 9px; color:#66d7a5; font-size:12px;}

.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .txt-value.type-split,
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .txt-value.type-filter{color:#f5a623;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .txt-value.type-dst {color:#4c9fe5;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .txt-value .ddp-wrap-popup2 {display:none; position:absolute; top:100%; left:0;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .txt-value.is-selected .ddp-wrap-popup2 {display:block;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .txt-value.type-selectbox {padding-right:20px;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .txt-value.type-selectbox.is-selected {position:relative; z-index:15;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .txt-value.type-selectbox:before {display:inline-block; position:absolute; top:50%; right:8px; width:7px; height:4px; margin-top:-2px; background:url(../../../images/anm/icon_select_measure.png) no-repeat; content:'';}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .txt-value:after {display:inline-block; position:absolute; top:50%; right:0; margin-top:-6px; height:13px; border-left:1px solid #3b3e48; content:''}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .txt-shelf {font-size:12px;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .txt-value .ddp-wrap-popup2 .popup-label {margin:0 10px; color:#fff; line-height:2.5em; border-bottom:1px solid #5f6473}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf .btn-shelf-del {display:inline-block; position:absolute; top:50%; right:6px; margin-top:-8px; width:16px; height:16px; background:url(../../../images/anm/icon_shelf_del.png) no-repeat;}
.popup-select-measure .wrap-new-chart .ui-chart-shelf .box-shelf:hover .btn-shelf-del{background-position-x:-17px;}

