@charset "utf-8";

/***************************************************************************************
   Page : Selecting Measures Filter
***************************************************************************************/
.popup-selectfilter .ddp-pop-filter .ddp-top-filter {border-bottom:1px solid #474d5d;}
.popup-selectfilter .ddp-pop-filter .ddp-top-filter .ddp-title .ddp-txt-name .ddp-txt-data {margin-top:6px;color:#fff;}
.popup-selectfilter .ddp-filter1 .ddp-box-item-search  {top:114px; }
.popup-selectfilter .ddp-filter1 .ddp-option {padding:28px 0 12px 0; border-bottom:1px solid #474d5d }
.popup-selectfilter .ddp-filter1 .ddp-option .ddp-data-num {color:#9aa2b7; font-weight:normal;}
.popup-selectfilter .ddp-filter1 .ddp-option .ddp-option-btn {bottom:8px;}

.popup-selectfilter .ddp-option-btn .ddp-ui-sort.ddp-btn-box.ddp-selected {background:none;}
.popup-selectfilter .ddp-box-item-search .ddp-list-checktype.ddp-type-list li.ddp-list-all {padding-bottom:20px; border-bottom:1px solid #474d5d;}
.popup-selectfilter .ddp-filter1 .ddp-box-item-search .ddp-list-checktype {bottom:40px;}
.popup-selectfilter .ddp-box-item-search .ddp-ui-page {bottom:10px;}

/***************************************************************************************
   Page : Selecting Measures Filter Calen
***************************************************************************************/
.popup-selectfilter .ddp-filter-calen-in {position:absolute; top:50px; bottom:79px; left:0; right:0; padding:39px 38px 0 38px; box-sizing:border-box;}
.popup-selectfilter .ddp-filter-calen-in .ddp-ui-dateinfo .ddp-txt-date {color:#fff;}
.popup-selectfilter .ddp-filter-calen-in .ddp-ui-dateinfo .ddp-box-dateinfo {background:none; border:1px solid #5f6473; color:#fff;}
.popup-selectfilter .ddp-filter-calen-in .ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date + .ddp-box-date {border-left:1px solid #5f6473 }
.popup-selectfilter .ddp-filter-calen-in .ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date .ddp-txt-calen {background:none; color:#fff;}
.popup-selectfilter .ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date em.ddp-icon-calen,
.popup-selectfilter .ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date em.ddp-icon-time {background:url(../../../images/anm/icon_filter_calen.png) no-repeat;}
.popup-selectfilter .ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date em.ddp-icon-time {background-position:left -15px;}
.popup-selectfilter .filter-buttons {padding:20px 0 0 0; text-align:right;}
.popup-selectfilter .filter-buttons .btn-reset,
.popup-selectfilter .filter-buttons .btn-reset:hover {color:#838897;}
.popup-selectfilter .filter-buttons .btn-reset:before {display:inline-block; width:22px; height:19px;margin-right:6px;background:url(../../../images/anm/icon_link_reset.png) no-repeat; vertical-align:middle; content:'';}








