@charset "utf-8";

/***************************************************************************************
   Page : Alarm Rule List
***************************************************************************************/
.page-alarm-rule-list .ddp-wrap-option {margin-bottom:11px;}
.page-alarm-rule-list .ddp-ui-option .box-toggle {margin:0 30px 0 0;}
.page-alarm-rule-list .ddp-ui-option .ddp-form-search {width:200px;}
.page-alarm-rule-list .ddp-ui-option .ddp-ui-rightoption {margin-top:5px;}
.page-alarm-rule-list .ddp-ui-option span.ddp-data-total {font-size:13px;}