@charset "utf-8";


/***************************************************************************************
   Component Total Score
***************************************************************************************/
.component-total-score .ui-total-core {
    height: 100%;
    margin-top:-30px;
    padding-top:30px;
    box-sizing: border-box;
}
.component-total-score .wrap-total-core {
    position: relative;
    width: 100%;
    height: 100%;
    /*padding: 10px 20px 10px 20px;*/
    box-sizing: border-box;
    background-color: #1e2129;
    overflow: auto;
}


.component-total-score .wrap-total-core .box-graph {
    height: 168px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    box-sizing:border-box;
}
.component-total-score .wrap-total-core .graph-main {height:315px; background-color:#131b30; border-bottom:1px dotted #2f323d;}
.component-total-score .wrap-total-core .graph-main > .ui-top {height:45px; padding:9px 20px 9px 20px; border-bottom:1px dotted #2f323d;overflow:hidden; box-sizing:border-box;}
.component-total-score .wrap-total-core .graph-main  > .ui-top .txt-title {float:left; font-size:14px; color:#fff; font-weight:bold;}

.component-total-score .wrap-total-core .graph-main .wrap-mark {height:46px; padding:11px 20px 14px 20px; box-sizing:border-box;}

.component-total-score .wrap-total-core .graph-main .wrap-mark .check-mark + .check-mark {margin-left:6px;}
/*.component-total-score .wrap-total-core .graph-main .wrap-mark .box-mark .icon-mark {display:inline-block; width:8px; height:8px; margin-right:4px; border-radius:50%; vertical-align:middle;}*/
/*.component-total-score .wrap-total-core .graph-main .wrap-mark .box-mark .icon-mark.type-major {background-color:#ea9e1f;}*/
/*.component-total-score .wrap-total-core .graph-main .wrap-mark .box-mark .icon-mark.type-moderate {background-color:#73c31b;}*/
/*.component-total-score .wrap-total-core .graph-main .wrap-mark .box-mark .icon-mark.type-critical {background-color:#f8533b;}*/
/*.component-total-score .wrap-total-core .graph-main .wrap-mark .box-mark .icon-mark.type-low {background-color:#58b5da;}*/

.component-total-score .wrap-total-core .graph-main .box-graph {height:226px;}
.component-total-score .wrap-total-core .graph-sub {padding:0 20px 10px 20px;}
.component-total-score .wrap-total-core .box-graph .txt-title {
    float: left;
    display: block;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}
.component-total-score .wrap-total-core .box-graph .txt-title.txt-normal {font-weight:normal;}
.component-total-score .wrap-total-core .box-graph .txt-title.box-title {padding-right:10px; background-color:#2a2d38;}
.component-total-score .wrap-total-core .box-graph .txt-title.box-title .value-measure {display:inline-block; position:relative; padding:6px 9px; margin-right:10px; color:#66d7a5; font-size:12px; }
.component-total-score .wrap-total-core .box-graph .txt-title.box-title .value-measure:after {display:inline-block; position:absolute; top:50%; right:0; margin-top:-6px; height:13px; border-left:1px solid #3b3e48; content:'';}
.component-total-score .wrap-total-core .box-graph .txt-title.box-title .value-measure.type-selectbox {padding-right:20px; cursor:pointer; z-index:101;}
.component-total-score .wrap-total-core .box-graph .txt-title.box-title .value-measure.type-selectbox:before {display:inline-block; position:absolute; top:50%; right:8px; width:7px; height:4px; margin-top:-2px; background:url(../../../images/anm/icon_select_measure.png) no-repeat; content:'';}
.component-total-score .wrap-total-core .box-graph .txt-title.box-title .value-measure.type-selectbox.is-selected {z-index:102}
.component-total-score .wrap-total-core .box-graph .txt-title.box-title .value-measure.type-selectbox.is-selected .ddp-wrap-popup2.type-measure {display:block;}
.component-total-score .wrap-total-core .box-graph .txt-title.box-title .value-measure.type-selectbox .ddp-wrap-popup2.type-measure {display:none; position:absolute; top:100%; left:0;}

.component-total-score .wrap-total-core .box-graph .txt-title.box-title .value-measure.type-selectbox .ddp-wrap-popup2.type-measure .popup-label {margin:0 10px; color:#fff; font-size:12px; font-weight:bold; line-height:2.5em; border-bottom:1px solid #5f6473;}

.ddp-wrap-popup2.type-measure {width:140px;}
.ddp-wrap-popup2.type-measure .ddp-list-popup li.ddp-selected a {color:#66d7a5 !important;}
.ddp-wrap-popup2.type-measure .ddp-list-popup li.ddp-selected a .ddp-icon-check {display:inline-block; background:url(../../../images/anm/icon_selected.png) no-repeat;}

.component-total-score .wrap-total-core .box-graph .txt-title.box-title {color:#fff; font-weight:normal;}

.component-total-score .wrap-total-core .box-graph .data-alarm {
    float: right;
    position: relative;
    top: 8px;
    color: #6c7189;
    font-size: 11px;
}
.component-total-score .wrap-total-core .box-graph .data-alarm .icon-filter {display:inline-block; width:10px; height:8px; margin-right:5px; background:url(../../../images/anm/icon_filter.png) no-repeat; vertical-align:middle;}

.component-total-score .wrap-total-core .data-rate {float:right; color:#6c7189; font-size:14px;}
.component-total-score .wrap-total-core .data-rate span.data-num {display:inline-block; width:26px; height:26px; margin:0 6px;border-radius:50%; background-color:#ff687a; color:#fff; font-size:14px; text-align:center; line-height:26px;}
.component-total-score .wrap-total-core .data-rate .txt-type {color:#fff; font-size:14px;}
.component-total-score .wrap-total-core .box-graph .graph-block {
    height: 227px;
    padding: 10px;
}
.component-total-score .wrap-total-core .ui-view-eye {padding:11px 20px 0 20px; text-align:right;}
.component-total-score .wrap-total-core .ui-view-eye [class*="btn-view-eye"] {margin-left:3px;}
.component-total-score .wrap-total-core .data-graph-info {position:absolute; top:0; left:0; right:0; display:inline-block;padding:10px 20px 12px 20px;}

.component-total-score .wrap-total-core .data-graph-info .data-name {display:block; float:left; color:#fff; font-weight:bold; font-size:13px;}
.component-total-score .wrap-total-core .data-graph-info .chart-data-form {display:inline-block;}
.component-total-score .wrap-total-core .data-graph-info .chart-data-form .data-form {float:left; position:relative; top:2px;}
.component-total-score .wrap-total-core .data-graph-info .chart-data-form .data-form + .data-form {padding-left:10px; margin-left:10px;}
.component-total-score .wrap-total-core .data-graph-info .chart-data-form .data-form + .data-form:before {position:absolute; top:50%; left:0; margin-top:-4px; height:8px; border-left:1px solid #474c5a; content:'';}
.component-total-score .wrap-total-core .data-graph-info .chart-data-form .txt-label {color:#f5a623; font-size:10px;}
.component-total-score .wrap-total-core .data-graph-info .chart-data-form .txt-det {margin-left:3px; color:#fff; font-size:10px;}

.component-total-score .wrap-total-core .data-graph-info .ui-info {display:block;overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.component-total-score .wrap-total-core .data-graph-info .ui-info .data-info {margin-left:17px;}
.component-total-score .wrap-total-core .data-graph-info .data-info.type-filter {display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; text-align:left;}
.component-total-score .wrap-total-core .data-graph-info .data-info.type-filter + .data-info.type-filter:before {display:inline-block; position:absolute; top:4px; left:0;height:8px; border-left:1px solid #474c5a; content:'';}

.component-total-score .wrap-total-core .data-graph-info .data-info.data-right {float:right;}
.component-total-score .wrap-total-core .data-graph-info .ui-info .data-info.data-left {float:left;}
.component-total-score .wrap-total-core .data-graph-info .data-info .data-label {color:#64697f; font-size:10px;}
.component-total-score .wrap-total-core .data-graph-info .data-info .data-detail {color:#fff; font-size:10px;}
.component-total-score .wrap-total-core .data-graph-info .ui-info.type-info {float:right;}
.component-total-score .wrap-total-core .data-graph-info .ui-info.type-info .data-info {float:left; position:relative; padding:0 12px; margin-left:0;}
.component-total-score .wrap-total-core .data-graph-info .ui-info.type-info .data-info:before {display:inline-block; position:absolute; top:5px; left:0;  height:8px; border-left:1px solid #474c5a; content:'';}
.component-total-score .wrap-total-core .data-graph-info .ui-info.type-info .data-info:first-of-type:before {display:none;}
.component-total-score .wrap-total-core .data-graph-info .wrap-info-left {display:block; max-width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.component-total-score .wrap-total-core .data-graph-info .wrap-info-left .data-name {float:initial; display:inline-block; margin-right:13px;}

.component-total-score .wrap-total-core .data-graph-info .wrap-info-left .data-info {display:inline-block;}
.component-total-score .wrap-total-core .data-graph-info .wrap-info-right {}

.component-total-score .wrap-total-core .ui-sub {
    position: relative;
    margin-top: 8px;
    padding-left: 20px;
}

.component-total-score .wrap-total-core .ui-sub:before {
    position: absolute;
    top: 6px;
    left: 5px;
    content: '';
    background-position: -107px -94px;
    width: 9px;
    height: 9px;
}

.component-total-score .wrap-total-core .ui-sub .box-total-score {
    border-color: #474c5a;
}

.component-total-score .wrap-total-core .ui-sub .box-total-score .label-name {
    background-color: #474c5a;
}

.component-total-score .wrap-total-core .ui-sub .box-total-score .data-name {
    background-color: #474c5a;
}

.component-total-score .wrap-total-core .ui-sub .box-total-score .data-num {
    color: #888ea0;
}

.box-pin-tooltip {padding:0 10px 10px 10px; border-radius:5px; background:rgba(0, 0, 0, 0.8); box-sizing:border-box; z-index:10; text-align:left;}
.box-pin-tooltip .pin-info {position:relative; min-width:180px;}
.box-pin-tooltip .pin-info .link-detail {position:absolute; top:10px; right:0; color:#2abcef; font-size:10px;}
.box-pin-tooltip .pin-info .link-detail:hover {text-decoration:underline;}
.box-pin-tooltip .pin-info .ui-pin-title {padding:12px 0 0 0; color:#ff687a; font-size:14px; font-weight:bold;}
.box-pin-tooltip .pin-info .ui-pin-title.type-default {color:#fff;}
.box-pin-tooltip .pin-info .ui-pin-title.type-a {color:#fb6aa5;}
.box-pin-tooltip .pin-info .ui-pin-title.type-b {color:#50e3c2;}
.box-pin-tooltip .pin-info .ui-pin-title.type-c {color:#19a5ff;}
.box-pin-tooltip .pin-info .ui-pin-title.type-d {color:#f5a623;}
.box-pin-tooltip .pin-info .ui-pin-title.type-e {color:#ff4e4e;}
.box-pin-tooltip.type-disabled .pin-info .ui-pin-title {color:#7b8490;}
.box-pin-tooltip .pin-info .data-pin-date {display:block; color:#fff; font-size:10px;}

.box-pin-tooltip .pin-info .data-date {padding-top:6px;}
.box-pin-tooltip .pin-info .data-date .data-bell {margin-bottom:6px;color:#fff; font-size:10px;}
.box-pin-tooltip .pin-info .data-date .data-bell.type-major {color:#fbb700;}
.box-pin-tooltip .pin-info .data-date .data-bell.type-moderate {color:#83bf47;}
.box-pin-tooltip .pin-info .data-date .data-bell.type-critical {color:#f8533b;}
.box-pin-tooltip .pin-info .data-date .data-bell.type-low {color:#58b5da;}
.box-pin-tooltip .pin-info .data-date .data-bell .icon-bell {display:inline-block; margin-right:2px; width:9px; height:10px; background:url(../../../images/anm/icon_bell.png) no-repeat; vertical-align:middle;}

.box-pin-tooltip .pin-info .data-date .data-bell.type-major .icon-bell {}
.box-pin-tooltip .pin-info .data-date .data-bell.type-moderate .icon-bell {background-position-x:-10px;}
.box-pin-tooltip .pin-info .data-date .data-bell.type-critical .icon-bell {background-position-x:-20px;}
.box-pin-tooltip .pin-info .data-date .data-bell.type-low .icon-bell {background-position-x:-30px;}
.box-pin-tooltip .pin-info .data-date .data-txt-date {padding-top:6px; color:#fff; font-size:10px;}


.box-pin-tooltip .pin-info .data-pin-calen { font-size:10px; color:#fff;}
.box-pin-tooltip .pin-info .data-pin-calen:before {display:inline-block; position:relative; top:-1px;width:10px; height:11px; margin-right:2px; background:url(../../../images/anm/icon_clock_s.png) no-repeat; background-position:-11px top; content:''; vertical-align:middle;}
.box-pin-tooltip .pin-info .data-pin-alarm {margin-right:10px;font-size:10px; color:#fff;}
.box-pin-tooltip .pin-info .data-pin-alarm:before {display:inline-block; position:relative; top:-1px;width:9px; height:11px; margin-right:2px; background:url(../../../images/anm/icon_alarm.png) no-repeat; content:''; vertical-align:middle;}


.box-pin-tooltip .wrap-score { padding-top:10px; }
.box-pin-tooltip .pin-info + .wrap-score {margin-top:8px; border-top:1px dotted
#575e67;}
.box-pin-tooltip .wrap-score .label-name {padding-bottom:6px; color:#ff687a; font-size:12px; font-weight:bold;}
.box-pin-tooltip .wrap-score .label-name .data-num {margin-left:4px;}
.box-pin-tooltip .wrap-score .label-name.type-default {color:#fff;}


.box-pin-tooltip .wrap-score .ui-top {padding-bottom:7px;}
.box-pin-tooltip .wrap-score .ui-top .data-date {padding-bottom:2px; font-size:10px; color:#fff;}
.box-pin-tooltip .wrap-score .ui-top .label-name2 {color:#fff; font-size:12px; font-weight:bold;}
.box-pin-tooltip .wrap-score .ui-top .label-name2 .data-num {display:inline-block; padding-left:6px;}


.box-pin-tooltip .wrap-score .list-detail li {padding:2px 0; font-size:10px; color:#fff;}
.box-pin-tooltip .wrap-score .list-detail li.data-total {color:#ff687a;}
.box-pin-tooltip .wrap-score .list-detail li.data-total.type-default {color:#fff; font-weight:bold;}
.box-pin-tooltip.type-data {width:auto;}
.box-pin-tooltip.type-data .wrap-score .label-name {color:#fff;}
.box-pin-tooltip.type-form {background-color:rgba(63, 69, 81, 0.8);;}
.box-pin-tooltip.type-alarm {width:130px; box-sizing:border-box;}
.box-pin-tooltip.type-alarm .pin-info {min-width:inherit;}

.box-pin-tooltip .data-chart-date {padding:10px 0 0 0;color:#fff; font-size:10px;}
.box-pin-tooltip .data-chart-num {padding-top:6px;color:#fff; font-size:10px;}








