@charset "utf-8";

/***************************************************************************************
   Page : Statistics
***************************************************************************************/

.page-statistics .ddp-ui-option {position:relative;}

.page-statistics .ddp-ui-option .box-toggle {margin:0 30px 0 0;}
.page-statistics .ddp-ui-option .ui-remarks {position:absolute; bottom:0px; right:0; color:#fff;}
.page-statistics .ddp-ui-option .ui-remarks .txt-remarks + .txt-remarks {margin-left:26px;}
.page-statistics .ddp-ui-option .ui-remarks .txt-remarks .icon-point-status {margin-right:5px;}

.page-statistics .wrap-statistics {padding:30px 0 0 0; overflow:hidden;}
.page-statistics .wrap-statistics +.wrap-statistics {padding-top:12px;}
.page-statistics .wrap-statistics .box-statistics {position:relative; padding:10px 16px; height:313px; border-radius:2px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3); background-color: #192239; box-sizing:border-box;}

.page-statistics .wrap-statistics .box-statistics .txt-label {font-size:14px; color:#fff; font-weight:bold; text-align:left;}

.page-statistics .wrap-statistics .box-statistics.type-severity {float:left; width:468px;text-align:center;}
.page-statistics .wrap-statistics .box-statistics .btn-window {display:inline-block; position:absolute; top:8px; right:8px; width:14px; height:14px; background:url(../../../images/anm/icon_window.png) no-repeat;}

.page-statistics .wrap-statistics .box-statistics.type-severity .ui-graph {float:left; position:relative; width:214px; height:214px; margin-top:38px; color:#fff; text-align:center;}
.page-statistics .wrap-statistics .box-statistics.type-severity .data-graph {position:absolute; top:66px; left:15px; width:214px; height:214px; color:#fff;}
.page-statistics .wrap-statistics .box-statistics.type-severity .data-graph .data-num {display:block; padding:40px 0 0 0;font-size:52px; line-height:77px;}
.page-statistics .wrap-statistics .box-statistics.type-severity .data-graph .data-num2 {display:inline-block;text-align:center;}
.page-statistics .wrap-statistics .box-statistics.type-severity .data-graph .data-num2 + .data-num2 {margin-left:15px;}
.page-statistics .wrap-statistics .box-statistics.type-severity .data-graph .data-num2 .txt-label {color:#979db3; font-size:10px; text-align:center;}
.page-statistics .wrap-statistics .box-statistics.type-severity .data-graph .data-num2 .txt-label em.icon-help {display:inline-block; width:10px; height:9px; background:url(../../../images/anm/icon_help.png) no-repeat; vertical-align:middle;}
.page-statistics .wrap-statistics .box-statistics.type-severity .data-graph .data-num2 .txt-data {color:#fff; font-size:16px; text-align:center;}
.page-statistics .wrap-statistics .box-statistics.type-severity .data-graph .data-num2 .txt-data.type-variation:before {display:inline-block; width:6px; height:3px; margin-right:5px; background:url(../../../images/anm/icon_gather_view.png) no-repeat; background-position:-7px top; content:''; vertical-align:middle; transform:rotate(180deg);}

.page-statistics .wrap-statistics .box-statistics.type-severity .data-graph .data-num2 .txt-data.type-variation.type-up:before {transform:rotate(0deg);}
.page-statistics .wrap-statistics .wrap-statistics-count  {float:Left; width:100%; margin-left:-468px; padding-left:480px; box-sizing:border-box;}
.page-statistics .wrap-statistics .box-statistics.type-count {width:100%; box-sizing:border-box;}
.page-statistics .wrap-statistics .box-statistics.type-count .ui-graph {position:absolute; top:48px; left:0; right:0; bottom:0; padding:0 22px 0 22px;  text-align:center; box-sizing:border-box;}
.page-statistics .wrap-statistics .box-statistics .ui-graph .box-graph-tooltip {display:inline-block; min-width:100px; padding:10px 10px; border-radius:5px; background-color:rgba(63, 69, 81, 0.9); color:#fff; text-align:left; box-sizing:border-box;}
.page-statistics .wrap-statistics .box-statistics .ui-graph .box-graph-tooltip .data-calen {padding-bottom:8px; font-size:10px;}
.page-statistics .wrap-statistics .box-statistics .ui-graph .box-graph-tooltip .data-count { font-size:10px; font-weight:bold;}
.page-statistics .wrap-statistics .box-statistics .ui-graph .box-graph-tooltip .data-count .txt-count {display:inline-block; min-width:68px;}
.page-statistics .wrap-statistics .box-statistics .ui-graph .box-graph-tooltip .data-count .data-num {float:right;}
.page-statistics .wrap-statistics .box-statistics .ui-graph .box-graph-tooltip .list-info {padding:5px 0 0 0;}
.page-statistics .wrap-statistics .box-statistics .ui-graph .box-graph-tooltip .list-info li {}
.page-statistics .wrap-statistics .box-statistics .ui-graph .box-graph-tooltip .list-info li + li {margin-top:5px;}
.page-statistics .wrap-statistics .box-statistics .ui-graph .box-graph-tooltip .list-info li span.txt-point {display:inline-block; min-width:68px; color:#fff; font-size:10px;}
.page-statistics .wrap-statistics .box-statistics .ui-graph .box-graph-tooltip .list-info li span.txt-point em.icon-point-status {width:6px; height:6px; margin-right:4px;}
.page-statistics .wrap-statistics .box-statistics .ui-graph .box-graph-tooltip .list-info li span.txt-num {float:right; position:relative; top:2px; font-size:10px; color:#fff;}
.page-statistics .wrap-statistics .box-statistics .ui-graph .box-graph-tooltip .list-info li span.txt-num {float:right;}

.page-statistics .wrap-statistics .box-statistics.type-subscribers {float:left; width:340px;}
.page-statistics .wrap-statistics .box-statistics.type-subscribers .txt-label {padding-bottom:25px;}
.page-statistics .wrap-statistics .box-statistics.type-subscribers .table-statistics .data-total {padding-left:44px;}
.page-statistics .wrap-statistics .box-statistics.type-subscribers .wrap-table {position:absolute; top:50px; left:0; right:0; bottom:0; padding:0 15px; overflow:auto;}
.page-statistics .wrap-statistics .wrap-subscribers {padding:0 12px;}
.page-statistics .wrap-statistics .wrap-lates {padding:0 0 25px 0;}
.page-statistics .wrap-statistics .wrap-lates .box-statistics.type-latest  {}
.page-statistics .wrap-statistics .wrap-lates .box-statistics.type-latest .wrap-latest {position:absolute; top:50px; left:0; right:0; bottom:0; overflow:auto; padding:7px 15px 0 15px;}
.page-statistics .wrap-statistics .wrap-lates .box-statistics.type-latest .ui-latest {position:relative; padding:0 0 25px 40px; color:#fff;}
.page-statistics .wrap-statistics .wrap-lates .box-statistics.type-latest .ui-latest:last-of-type {padding-bottom:0;}
.page-statistics .wrap-statistics .wrap-lates .box-statistics.type-latest .ui-latest:before {position:absolute; top:0; left:28px; bottom:0; border-left:1px dotted #a1a6bc; content:'';}
.page-statistics .wrap-statistics .box-statistics.type-latest .ui-latest .icon-point-status {position:absolute; left:24px;}

.page-statistics .wrap-statistics .box-statistics.type-latest .ui-latest .data-title {display:block; position:relative; top:-5px;}
.page-statistics .wrap-statistics .box-statistics.type-latest .ui-latest .data-title .data-wrap {padding:5px 10px; border-radius:12px; font-size:14px; font-weight:bold; background-color:#464a5b; cursor:pointer;}
.page-statistics .wrap-statistics .box-statistics.type-latest .ui-latest .data-num {font-size:12px; padding:3px 0 0 0;}

.page-statistics .wrap-statistics .box-statistics.type-latest .ui-latest .data-time {padding:5px 0 0 0;color:#a5aaba; font-size:10px;}

.page-statistics .wrap-statistics .wrap-ranking { overflow:hidden;}
.page-statistics .wrap-statistics .wrap-ranking .box-statistics.type-alarm-rule {float:right;}
.page-statistics .wrap-statistics .wrap-ranking .box-statistics.type-alarm-rule .txt-label {padding-bottom:25px;}

.page-statistics .wrap-statistics .wrap-ranking .box-statistics.type-alarm-rule .wrap-table {position:absolute; top:50px; left:0; right:0; bottom:0; padding:0 39px; overflow:auto; }
.page-statistics .wrap-statistics .wrap-ranking .box-statistics.type-alarm-rule .table-statistics tr th {text-align:right;}
.page-statistics .wrap-statistics .wrap-ranking .box-statistics.type-alarm-rule .table-statistics tr th.data-name {text-align:left;}
.page-statistics .wrap-statistics .wrap-ranking .box-statistics.type-alarm-rule .table-statistics tr td {text-align:right;}
.page-statistics .wrap-statistics .wrap-ranking .box-statistics.type-alarm-rule .table-statistics tr td.data-num {text-align:left;}
.page-statistics .wrap-statistics .wrap-ranking .box-statistics.type-alarm-rule .table-statistics tr td.data-name {text-align:left;}
.page-statistics .wrap-statistics .wrap-ranking .box-statistics.type-alarm-rule .table-statistics tr td.data-name a {color:#fff;}
.page-statistics .wrap-statistics .wrap-ranking [class*="ddp-col"] {}
.page-statistics .wrap-statistics .wrap-ranking .box-statistics {width:100%;}
table.table-statistics tr th {padding:7px 3px; color:#979db3; font-size:10px; font-weight:normal; text-align:left;}

table.table-statistics tr th.th-name {padding-left:49px;}
table.table-statistics tr td {padding:10px 3px; font-size:14px; color:#fff;}
table.table-statistics tr td.data-num {color:#979db3;}
table.table-statistics tr td .data-photo {display:inline-block; width:30px; height:30px; margin:-5px 14px -5px 0; border-radius:50%; overflow:hidden; vertical-align:middle;}
table.table-statistics tr td .data-photo img {width:100%; height:100%;}
table.table-statistics tr td span.txt-sub {font-size:10px; color:#979db3;}
table.table-statistics tr td span.data-status-num {display:block; font-size:12px;}
.page-statistics .wrap-statistics .table-severity {float:right; width:146px; margin:45px 16px 0 0; text-align:left;}
.page-statistics .wrap-statistics .table-severity tr th {color:#979db3; font-size:10px; font-weight:normal; text-align:right;}
.page-statistics .wrap-statistics .table-severity tr th:last-of-type {padding-right:20px;}
.page-statistics .wrap-statistics .table-severity tr th:first-of-type {padding-left:30px;}
.page-statistics .wrap-statistics .table-severity tr td {padding:6px 0; color:#fff; font-size:14px;}
.page-statistics .wrap-statistics .table-severity tr td .txt-data .txt-severity  .icon-point-status {margin-right:6px;}

.page-statistics .wrap-statistics .table-severity tr.is-selected td .txt-data {height:28px;background-color:#464a5b; box-sizing:Border-box;}
.page-statistics .wrap-statistics .table-severity tr td .txt-data .icon-point-status {position:relative; top:4px;}
.page-statistics .wrap-statistics .table-severity tr td:first-of-type .txt-data {height:28px; border-radius:12px 0 0 12px; box-sizing:border-box;}
.page-statistics .wrap-statistics .table-severity tr td:last-of-type .txt-data{padding-right:20px;}

.page-statistics .wrap-statistics .table-severity tr.is-selected td:last-of-type .txt-data{border-radius:0 12px 12px 0;}
.page-statistics .wrap-statistics .table-severity tr td:first-of-type .txt-data {padding-left:9px;}
.page-statistics .wrap-statistics .table-severity tr td .txt-data {padding:5px; text-align:right;}


.icon-point-status {display:inline-block; width:10px; height:10px; border-radius:50%;}
.icon-point-status.type-critical {background-color:#ff4949;}
.icon-point-status.type-major {background-color:#f5a623;}
.icon-point-status.type-moderate {background-color:#85c044;}
.icon-point-status.type-low {background-color:#4a90e2;}


@media screen and (min-width:1280px) {
    .page-statistics .wrap-statistics .box-statistics .txt-label {font-size:16px;}

    .page-statistics .wrap-statistics .box-statistics {height:430px}
    .page-statistics .wrap-statistics .wrap-statistics-count {margin-left:-652px; padding-left:662px;}
    .page-statistics .wrap-statistics .box-statistics.type-severity {width:652px}
    .page-statistics .wrap-statistics .box-statistics.type-severity .ui-graph {width:332px; height:332px; margin:46px 0 0 30px;}


    .page-statistics .wrap-statistics .box-statistics.type-severity .data-graph .data-num {padding-top:79px; padding-bottom:20px; font-size:56px;}
    .page-statistics .wrap-statistics .box-statistics.type-severity .data-graph .data-num2 .txt-label {font-size:12px;}
    .page-statistics .wrap-statistics .box-statistics.type-severity .data-graph .data-num2 .txt-data {display:inline-block;  padding-top:4px;font-size:18px;}

    .page-statistics .wrap-statistics .box-statistics.type-severity .data-graph {position:absolute; top:76px; left:46px; width:332px; height:332px; color:#fff;}
    .page-statistics .wrap-statistics .table-severity {width:190px; margin:50px 38px 0 0;}
    .page-statistics .wrap-statistics .table-severity tr th {padding:11px 0; font-size:12px;}
    .page-statistics .wrap-statistics .table-severity tr td {padding:11px 0; font-size:16px;}
    .page-statistics .wrap-statistics .table-severity tr.is-selected td .txt-data {height:30px;}
    .page-statistics .wrap-statistics .table-severity tr.is-selected td:first-of-type .txt-data {height:30px; box-sizing:border-box;}
    .page-statistics .wrap-statistics .table-severity tr td.txt-data .icon-point-status {position:relative; top:1px}

    .page-statistics .ddp-ui-option .ui-remarks .txt-remarks .icon-point-status {width:10px; height:10px;}
    .icon-point-status {width:14px; height:14px;}
    .page-statistics .wrap-statistics .box-statistics.type-subscribers .wrap-table {top:67px;}
    .page-statistics .wrap-statistics .wrap-ranking .box-statistics.type-alarm-rule .wrap-table {top:67px;}
    .page-statistics .wrap-statistics .wrap-lates .box-statistics.type-latest .wrap-latest {top:72px;}

    table.table-statistics tr th {padding:10px 0;font-size:12px;}
    table.table-statistics tr td {padding:16px 0; font-size:16px;}
    .page-statistics .wrap-statistics .wrap-lates .box-statistics.type-latest .ui-latest {padding-bottom:36px; padding-left:61px;}
    .page-statistics .wrap-statistics .box-statistics.type-latest .ui-latest .data-title .data-wrap {font-size:16px;}
    .page-statistics .wrap-statistics .box-statistics.type-latest .ui-latest .data-num {padding:4px 0 0 0;font-size:14px;line-height:20px;}
    .page-statistics .wrap-statistics .box-statistics.type-latest .ui-latest .icon-point-status {left:39px;}
    .page-statistics .wrap-statistics .wrap-lates .box-statistics.type-latest .ui-latest:before {left:45px;}
}



