/*
@charset "utf-8";

@keyframes roundLoading1 {
    0% { opacity: 0.3; }
    30% { opacity: 1; }
}
@keyframes roundLoading2 {
    0% { opacity: 0.3; }
    60% { opacity: 1; }
}
@keyframes roundLoading3 {
    0% { opacity: 0.3; }
    90% { opacity: 1; }
}
@keyframes progressLoading {
    0% { background-position: 0 0; }
    100% { background-position: 50px 50px; }
}

.wrap-progress {position:relative;height:10px; border-radius:5px; background-size:14px 14px;
    background-image: linear-gradient(-45deg,
    #9c9ae6 25%, #7e7ce1 25%,
    #7e7ce1 50%, #9c9ae6 50%,
    #9c9ae6 75%, #7e7ce1 75%);
    animation: progressLoading 2s linear infinite; overflow:hidden;}
.wrap-progress.type-progress {background-image: linear-gradient(-45deg,
#323846 25%, #2f323c 25%,
#2f323c 50%, #323846 50%,
#323846 75%, #2f323c 75%);}

.wrap-progress2 {position:relative; height:10px; border-radius:5px;  background-color:#333846; overflow:hidden;}
.wrap-progress2 span.bg-progress {display:inline-block; position:absolute; top:0; left:0; width:100%; height:10px;background-color:#7f7ce1;}

.wrap-loading-round span.ui-round {display:inline-block; width:4px; height:4px; background-color:#fff; opacity:0.3; border-radius:50%;  animation-duration:1s; vertical-align:top;}
.wrap-loading-round span.ui-round + span.ui-round {margin-left:4px;}
.wrap-loading-round span.ui-round:nth-child(1) {animation-name:roundLoading1;animation-iteration-count: infinite;}
.wrap-loading-round span.ui-round:nth-child(2) {animation-name:roundLoading2;animation-iteration-count: infinite;}
.wrap-loading-round span.ui-round:nth-child(3) {animation-name:roundLoading3;animation-iteration-count: infinite;}
*/
@charset "utf-8";

/***************************************************************************************
   COMPONENT : LOADING (METATRON)
***************************************************************************************/
.apm-loading {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:5000;
    background-color:rgba(255,255,255,0.1);
}

@keyframes lds-wedges {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-wedges {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.lds-wedges {
    position:absolute; top:50%; left:50%; margin:-0px 0 0 -0px;
}
.lds-wedges > div > div {
    -webkit-transform-origin: 100px 100px;
    transform-origin: 100px 100px;
    -webkit-animation: lds-wedges 2.8s linear infinite;
    animation: lds-wedges 2.8s linear infinite;
    opacity: 0.8;
}
.lds-wedges > div > div > div {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 70px;
    height: 70px;
    border-radius: 70px 0 0 0;
    -webkit-transform-origin: 100px 100px;
    transform-origin: 100px 100px;
}
.lds-wedges > div div:nth-child(1) > div {
    background: #112f78;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.lds-wedges > div div:nth-child(1) {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}
.lds-wedges > div div:nth-child(2) > div {
    background: #1c8bf0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.lds-wedges > div div:nth-child(2) {
    -webkit-animation-duration: 0.933333333333333s;
    animation-duration: 0.933333333333333s;
}
.lds-wedges > div div:nth-child(3) > div {
    background: #2dccff;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.lds-wedges > div div:nth-child(3) {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}
.lds-wedges > div div:nth-child(4) > div {
    background: #cde1f2;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.lds-wedges > div div:nth-child(4) {
    -webkit-animation-duration: 2.8s;
    animation-duration: 2.8s;
}
.lds-wedges {
    width: 100px !important;
    height: 100px !important;
    -webkit-transform: translate(-100px, -100px) scale(0.50) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(0.50) translate(50px, 50px);
}

